// about-us
main.aboutBG{
	background:#F7F6F3 !important;
}

section.two_column_text_text{
	&.about-text-text1{
		.heading{
			h2{
			    font-size:28px;
			}
			.contact{
				padding-top:5rem;
				p{
				width:75%;
				}
			}
		}
		.bulk{
			.sub{
				&.text{
					&:first-child{
						p{
							&:first-child{
								font-size:24px;
							}
						}
					}
					p{
						font-size:18px;
					}
				}
				&.highlight_box{
					p{
						font-size:18px;
						&:first-child{
							font-size:18px;
						}
					}
				}
			}
		}
	}
	&.about-text-text2{
		.heading{
			h2{
			    font-size:28px;
			}
		}
		.bulk{
			.sub{
				&.text{
					p{
						font-size:18px;
					}
				}
			}
		}
	}
}

