section.registryBanner{
	.bg{
		position:relative;
		padding-bottom:0px;
	}
	.extras{
		margin-top:-50px;
		width:100%;
		background-color:#F3F6F9;
		padding-bottom:20px;
		@media screen and (min-width:992px) {
			&{
				padding-bottom:80px;
			}
		}
	}
}