body.homepage{
	section.homeLeadPanel{
	}

	section.homSecondComplex{
		.complex{
			.heading{
				max-woidth:500px;
				left:25%;
			}	
		}
		@media screen and (min-width:992px) {
			&{
				.complex{
					.heading{
						padding:0;
					}		
				}
			}
		}
	}

	section.homeList1{
		.heading{
			h2{
				font-size:2.5rem;
				margin-top:1.8rem;
				margin-bottom:2rem;
			}
		}
		.bulk{
			.ordered_list{
				li{
					margin-bottom:2rem;
				}
				.text{
					h3{
						font-family: 'Avenir LT Pro 85 Heavy';
						font-size:34px;
					}
				}
			}
		}
		@media screen and (min-width:992px) {
			&{
				.row{
					justify-content: space-between;
				}
				.heading{
					padding-right:0px;
					h2{
						// font-family: 'Avenir LT Pro 65 Medium';
						font-family: "Avenir LT Pro 85 Heavy";
						font-size: 3.5rem;
						line-height: 4.375rem;
						margin-top:0;
						margin-bottom:0;
					}
				}
				.bulk{
					// width:calc(50% + 3rem - 12px);
					// max-width:calc(660px + 3rem - 12px);
					width:58.3%;
					.ordered_list{
						.text{
							h3{
								font-size:34px;
								font-family: 'Avenir LT Pro 65 Medium';
							}
						}
					}
				}
			}
		}
	}

	section.latest_news{
		.item{
			display:none;
			&:first-child{
				display:block;
			}
			@media screen and (min-width:992px) {
				display:block;
			}
		}
	}
}