section.trees_intro_two_column{
	padding-top:5rem;
	padding-bottom:5rem;
	.heading{
		.text{
			p{
				font-family: 'Avenir LT Pro 65 Medium';
				font-size:28px;
				line-height:38px;
				font-weight:200;
			}
		}
	}
	.bulk{
		// padding-left:5rem;
		.text{
			margin-bottom:60px;
			p{
				font-size: 1.125rem;
				line-height: 1.65rem;
			}
			ul{
				li{
					font-size: 1.125rem;
					line-height: 1.65rem;
				}
			}
		}
	}
	@media acreen and (min-width:992px){
		&{
			.heading{
				padding-right:5rem;
			}

			.bulk{
				padding-left:5rem;
			}
		}	
	}
}
