.docfilter{
	p.currentFilter{  margin-bottom:0; }
	.filter{
		width:100%;
		// border:1px solid $xgrey;
		display:block;
		margin-bottom:orem;
		position:relative;
		.control{
			width:100%;
			font-size:14px;
			font-weight:700;
			padding:0.5rem 0;
			text-align:center;
			margin:0;
			position:relative;
			cursor:pointer;
			border:1px solid $xgrey;
			border-radius:20px;
			margin-bottom:1rem;
			span{
				&.f1{
					display:inline-block;
					letter-spacing:3px;
				}
				&.category{
					display:none;
				}
				&.icon{
					position:absolute;
					right:1rem;
					top:5px;
					width:27px;
					height:27px;
					display:block;
					background-repeat:no-repeat;
					background-image:url('../img/accordion-open-black2.png');
					background-position:center center;
				}
			}
		}

		&.open{
			.control{
				.icon{
					background-position:center center;		
					background-image:url('../img/accordion-close-black2.png');	
				}
			}
			div.clipper{
				max-height:150rem;
			}	
		}

		div.clipper{
			// position:absolute;
			// left:-1px;
			// top:36px;
			// z-index:5;

			display:block;
			overflow:hidden;
			transition:max-height 0.3s ease;
			width:calc(100% + 2px);
			max-height:0;
		}
		@media screen and (min-width:992px) {
			&{
				
				.control{
					border:0;
					display:block;
					width:auto;
					margin:0;
					padding:0;
					height:2.5rem;
					.icon{
						display:none;
					}
				}
				div.clipper{
					display:block;
					overflow:inherit;
					max-height:fit-content;
					width:auto;
					position:relative;
					left:0px;
					top:0px;
					z-index:1;
				}
			}
		}
	}	
	h2{
		font-family: 'Avenir LT Pro 65 Medium';
		font-size:18px;
		color:$xgrey;
	}
	p.currentFilter{
		display:block;
	}
	ul{
		list-style-type:none;
		padding-left:0px;
		a{
			font-family: 'Avenir LT Pro 95 Black';
			display:inline-block;
			width:100%;
			padding:0 1rem; 
			text-decoration:none;
			line-height:2.5rem;
			height:2.5rem;
			box-sizing:border-box;
			&:hover{
				color:$green;
			}
		}
	}
	ul.main{
		background-color:#F3F6F9;
		& > li{
			& > a{
				background-color:#86939D;
				background-image:url('../img/arrow-up-white.png'), url('../img/fade.png');
				background-repeat:no-repeat;
				background-position: calc(100% - 1rem) calc(50% - 4px), left top;
				border-radius:0 0 27px 0;
				color:#fff;
				font-size:16px;
				&:hover{
					color:#fff;
					background-color:$xgrey;
					background-image:url('../img/arrow-up-white.png'), url('../img/fade.png');
				}
			}
			&.current{
				& > a{
					background-color:$xgrey;
					background-image:url('../img/arrow-up-white.png'), url('../img/fade.png');
				}
			}
			ul.sub{
				& > li{
					& > a{
						font-size:14px;
						color:#161B20;
						&:hover{
							color:$green;
						}
					}
					&.current{
						& > a{
							color:$green;
						}
					}

				}
			}
		}
	}
}
