@mixin transopacity2($duration) {
    -webkit-transition: opacity $duration ease;
    -moz-transition: opacity $duration ease;
    -ms-transition: opacity $duration ease;
    -o-transition: opacity $duration ease;
    transition: opacity $duration ease;
}

@mixin headerUnderline($color,$bottomPadding){
	position:relative;
	display:inline-block;
	padding-bottom:$bottomPadding;
	&::after{
		content:' ';
		display:block;
		position:absolute;
		left:0px;
		bottom:0px;
		width:90px;
		height:1px;
		background-color:$color;
	}
}
