// Modules

section.module{
	padding-top:0rem;
	padding-bottom:0rem;
	margin:0;

	scroll-margin-top: $navbarheight;

	&.zoomIn{
		transition:transform 1.5s ease;
		transform:scale(1.0,1.0);
		&.hidden{
			transform:scale(0,0);
		}
	}
}

main.mainBreadcrumb{
	section.module{
		scroll-margin-top: calc(148px);
	}
}

@import "modules/home_complex_image.scss";
@import "modules/two_column_text_text.scss";
@import "modules/two_column_text_image.scss";
@import "modules/latest_news.scss";
@import "modules/document_list.scss";
@import "modules/download_bar.scss";
@import "modules/featured_document.scss";
@import "modules/news_filter.scss";
@import "modules/featured_news.scss";
@import "modules/horizontal_divider.scss";
@import "modules/art_registry_intro.scss";
@import "modules/art_registry_steps.scss";
@import "modules/governance.scss";
@import "modules/faq.scss";

@import "modules/bio.scss";
@import "modules/news-article.scss";


