@import "bootstrap/bootstrap";

@import "variables";
@import "mixins";
@import "fonts";

// global styles
@import "common/misc";
@import "common/navigation";
@import "common/nav-home";
@import "common/nav-sticky";
@import "common/page-banner";
@import "common/footer";
@import "common/animation";


// shared module styles - ACF flexible content
@import "module";

// pages
@import "pages/all";
@import "pages/art-home";
@import "pages/trees";
@import "pages/about-us";
@import "pages/art-registry";

/*
bootstrap 12 colunm grid page container breakpoints
col-xs-N max-width:575.98px 
col-sm-N max-width:767.98px min-width:576px
col-md-N max-width:991.98px min-width:992px
col-lg-N max-width:1199.98px min-width:1200px

@media screen and (min-width:576px) {
	.container{
		max-width:540px;
	}
}
@media screen and (min-width:768px) {
	.container{
		max-width:720px;
	}
}
@media screen and (min-width:992px) {
	.container{
		max-width:960px;
	}
}
@media screen and (min-width:1200px) {
	.container{
		max-width:1140px;
	}
}
@media screen and (min-width:1400px) {
	.container{
		max-width:1320px;
	}
}
*/

// generic column class selector
// [class*="col-"]{}

body{
    font-family: 'Avenir LT Pro 55 Roman','Arial';
    font-weight: 200;
    font-style: normal;
    color:$body-copy;
    position:relative;
    overflow:inherit;
}





