$body-copy:#161B20;
$green:#78AB42;
$grey1:#D2D9DF;
$grey2:#86939D;

$xgrey:#161b20;

$banner-height-desktop:75vh;
$banner-height-mobile:75vh;
$gutters:3rem;

$boundeDuration: 0.6s;
$bounceRepeat: infinite;

$navbarheight: 100px;
$homeNavbarheight: 183px;
$navbarDropShadow: rgba(30, 48, 64, 0.3);

$smallLogo: 69px;
$largeLogo: 124px;
