// animation

.homeLeadPanel{
	.heading,
	.xbox{
		left:-10%;
		top:0;
		opacity:0;
		:after{
			// left:0px;
			// opacity:1.0;
			width:0;
		}
		&.loadAnimate{
			animation-name: slideIn1;
			animation-duration: 0.75s;
			animation-delay: 0.0s;
			animation-fill-mode:forwards;
			animation-timing-function:ease;
			:after{
				animation-name: widthIncrease;
				animation-duration: 0.75s;
				animation-delay: 0.75s;
				animation-fill-mode:forwards;
				animation-timing-function:ease;
			}
		}	
	}
}

@keyframes slideIn {
  0% {
	left:-10%;
	opacity:0;
  }
  100% {
	left:5%;
	opacity:1.0;
  }
}

@keyframes slideIn1 {
  0% {
	left:-10%;
	opacity:0;
  }
  100% {
	left:0%;
	opacity:1.0;
  }
}

@keyframes slideIn2 {
  0% {
	left:-50%;
  }
  100% {
	left:0%;
  }
}

@keyframes widthIncrease {
  0% {
	width:0px;
  }
  100% {
	width:180px;
  }
}

.two_column_text_image{
	.pair{
		figure{
			position:relative;
			left:0px;
			top:100px;
			opacity:0;
			transition:all 0.5s ease;
		}
		.copy{
			position:relative;
			left:0px;
			top:100px;
			opacity:0;
			transition:all 0.5s ease;
			transition-delay:0.5s;
		}
		&.animate{
			figure{
				top:0px;
				opacity:1.0;
			}
			.copy{
				top:0px;
				opacity:1.0;
			}
		}
	}	
}

.two_column_text_text{
	.sub.heading{
		position:relative;
		left:-10%; 
		top:0px;
		opacity:0;
		h2{
			&:after{
				left:-50%;
				opacity:1.0;
			}
		}
		&.animate{
			animation-name: slideIn1;
			animation-duration: 0.75s;
			animation-delay: 0.0s;
			animation-fill-mode:forwards;
			animation-timing-function:ease;
			h2{
				&:after{
					animation-name: slideIn2;
					animation-duration: 0.75s;
					animation-delay: 0.75s;
					animation-fill-mode:forwards;
					animation-timing-function:ease;
				}
			}
		}
	}
	.sub.ordered_list{
		li{
			position:relative;
			left:0px;
			top:100px;
			opacity:0;
			&.animate{
				top:0px;
				opacity:1.0;
				transition:all 0.5s ease;
			}
		}
	}
	.sub.button,
	.sub.text,
	.sub.download{
		position:relative;
		left:0px;
		top:100px;
		opacity:0;
		&.animate{
			top:0px;
			opacity:1.0;
			transition:all 0.5s ease;
		}
	}
	.sub.button{
		top:20px;
	}
}

section.art_registry_intro{
	.leftcolumn{
		h2{
			position:relative;
			left:-10%; 
			top:0px;
			opacity:0;
			&:after{
				left:-50%;
				opacity:1.0;
			}
		}
		&.animate{
			h2{
				animation-name: slideIn1;
				animation-duration: 0.75s;
				animation-delay: 0.0s;
				animation-fill-mode:forwards;
				animation-timing-function:ease;
				&:after{
					animation-name: slideIn2;
					animation-duration: 0.75s;
					animation-delay: 0.75s;
					animation-fill-mode:forwards;
					animation-timing-function:ease;
				}
			}
		}

	}
	.rightcolumn{
		position:relative;
		left:0px;
		top:100px;
		opacity:0;
		&.animate{
			top:0px;
			opacity:1.0;
			transition:all 0.5s ease;
		}
	
	}
}