// footer
footer.pagefooter{
	.greytrees{
		background-color:#D2D9DF;
		padding-top:4rem;
		padding-bottom:calc(128px + 3rem);
		background-image:url('../img/footer-trees.png');
		background-repeat:repeat-x;
		background-position:center bottom;
	}
	.intro{
		padding-right: calc(var(--bs-gutter-x) * .5);
		h2{
			letter-spacing:1px;
		}

		@media screen and (min-width:992px){
			&{
				padding-right:5rem;
			}
		}

	}
	.darkGrey{
		background-color:#161B20;
		background-repeat:repeat-x;
		background-position:center bottom;
		background-image:url('../img/fade.jpg');
		color:#fff;
		padding-top:2rem;
		padding-bottom:2rem;
	}
	a{
		font-size:16px;
		font-weight:200;
		color:#fff;
		text-decoration:none;

		&:hover{
			text-decoration:underline;
		}
	}
	#menu-about{
		h3{
			font-family: 'Avenir LT Pro 95 Black';
			font-size:16px;
			margin-bottom:0rem;
		}
		address{
			font-size:16px;
			font-weight:200;
			margin-bottom:2rem;
		}
		a{
			font-family: 'Avenir LT Pro 95 Black';
			&.email{
				color:#fff;
				background-color:transparent;
				background-image:none;
				text-decoration:none;
				&:hover{
					color:$green;
					background-color:transparent;
				}
			}
		}
	}
	ul{
		list-style-type:none;
		padding-left:0;
		margin:0;
		li{
			margin-bottom:0.5rem;
		}
	}
	.intro{
		h2{
			font-family: 'Avenir LT Pro 85 Heavy';
			font-size:16px;
			color:#86939D;
		}
		h3{
			font-family: 'Avenir LT Pro 85 Heavy';
			font-size:36px;
		}
		p{
			font-size: 1.125rem;
			line-height: 1.65rem;
		}
	}
	.form{

		.wpcf7{
			label{
				width:100%;
			}
			input[type="submit"]{
				min-height:54px;
				border-radius:26px;
				padding:12px 27px;
				box-sizing:border-box;
				transition:color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
				font-family: 'Avenir LT Pro 95 Black';
				text-transform:uppercase;
				letter-spacing:1px;
				font-size:16px;
				// display:flex;
				align-items:center;
				width:fit-content;

				color:$xgrey;
				border:1px solid $xgrey;
				background-color:transparent;
				&:hover,&:focus{
					background-color:#78AB42;
					color:#fff;	
					border-color:#78AB42;
				}
			}
			// footer signup form error messages & submission response
			.wpcf7-not-valid-tip{
				margin-top:0.5rem;
			}
			form{
				.wpcf7-response-output{
					border:0;
				}
				&.invalid{
					.wpcf7-response-output{
						color:red;
					}
				}
				&.sent{
					.wpcf7-response-output{
						color:green;
					}
				}
			}
			

		}

		padding-top:2rem;
		button.btn{
			margin:0 auto;
			display:block;
		}
		input[type="text"],input[type="email"]{
			height:54px;
			border:0;
			border-radius:26px;
			width:100%;
			background-color:#fff;
			vertical-align:center;
			box-sizing:border-box;
			padding:0 26px;
			font-size:16px;
			margin:0;
		}
		.f1,.f3{
			label{
			}
		}

		.f2,.f3,.f4{
			margin-bottom:1rem;
			.f1{
				box-sizing:border-box;
			}
		}
		.f2{
			.f1{
				&:first-child{
					margin-bottom:1rem;
				}
			}
		}

		/*
		.f4{
			label{
				font-size:14px;
				a{
					font-size:14px;
					text-decoration:underline;
					color:$xgrey;
				}
			}
		}
		*/

		// todo: add nicer transition from form to response
		&.unsub,&.invalid{
			form{
				display:block;
			}
			.response{
				display:none;
			}
		}

		&.valid{
			form{
				display:none;
			}
			.response{
				display:block;
			}
		}
	}
	div.logo{
		padding-bottom:2rem;
		img{
			width:180px;
			display:block;
			// margin:0 auto;
		}
	}
	ul.footer-nav{
		width:100%;
		& > li{
			width:100%;
			padding-left:1rem;
			& > a{
				font-family: 'Avenir LT Pro 95 Black';
				font-size:16px;
				font-weight:200;
				color:#78AB42;
				margin-bottom:1rem;
				display:inline-block;
				text-transform:uppercase;
				width:auto;
				background-image:none;
				&.email{
					text-transform:initial;
				}
			}
		}
	}
	@media screen and (min-width:480px){
		&{
			ul.footer-nav{
				display:flex;
				flex-wrap:wrap;
				& > li{
					width:50%;
				}
			}
		}
	}
	@media screen and (min-width:576px){
		&{
			.form{
				button.btn{
					margin:0 auto 0 0;
				}
				.f2{
					display:flex;
					justify-content:space-between;
					.f1{
						flex-basis:48%;
						&:first-child{
							margin-bottom:0;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width:640px){
		&{
			ul.footer-nav{
				& > li{
					width:33.3%;
				}
			}
		}
	}

	// form breaks from single column to two columns at 992px
	@media screen and (min-width:992px){
		&{
			.darkGrey{
				padding-top:6rem;
			}
			.greytrees{
				padding-bottom:calc(128px + 6rem);
			}
			.form{
				padding-top:4rem;
				padding-left:5rem;

				button.btn{
					margin:0 auto 0 0;
				}
			}

			div.logo{
				width:100%;
			}
			ul.footer-nav{
				& > li{
					width:16.6%;
				}
			}
			.intro{
				h3{
					font-size: 3.5rem;
					line-height: 4.375rem;
				}
			}
		}
	}
	@media screen and (min-width:1200px){
		&{
			div.logo{
				width:25%;
				img{
					width:90%;
				}
			}
			ul.footer-nav{
				width:75%;
			}

		}
	}
}
