.controlClipper,
.dataClipper{
	overflow:hidden;
	max-height:1000rem;
	transition: max-height 0.6s ease;

	&.closed{
	  max-height:0;
	}
}

.socialMedia{
	.outer{
		p{
			font-size:18px;
			line-height:27px;
			font-weight:400;
			width:100%;
			text-align:left;
			display:block;
			margin:0 0 0.5rem 0;
		}
		ul{
			list-style-type:none;
			padding-left:0;
			display:block;
			margin:0 auto 0 0;

			li{
				display:inline-block;
				float:left;
				margin-right:1.8rem;
				a{
					display:block;
					width:34px;
					height:34px;

					span{
						text-indent:-9999em;
						display:inline-block;
					}

					overflow:hidden;
					&.twitter{
					}
					&.instagram{
					}
					&.linkedin{
					}
					&.spotify{
					}
				}
				&:last-child{
					margin-right:0;
				}
			}
			&:after{
				content:' ';
				display:block;
				float:none;
				clear:both;
			}
		}
	}

	@media (min-width: 992px){
		&{
			.outer{
				p{
					margin:0 0 0.5rem 0;
				}
				ul{
				}
			}
		}
	}

}

/* ------------- */
/* video / image block */
/*
used in homepage banner carousel, page banner, case syudt list
*/
.background{
  width:100%;
  position:relative;
  background-color:$xgrey;
  overflow:hidden;

    &.videoLoaded{
      figure{
        display:none;          
      }
      .videoWrapper{
      	opacity:1.0;
      }
    }

	figure{
	  position:relative;
	  z-index:1;
	  width:100%;
	  overflow:hidden;
	  margin:0;

	  img{
	    position:absolute;
	    left:50%;
	    top:50%;
	    object-fit:cover;
	    width:100.1%;
	    height:100.1%;
	    &.desktop{
	      display:none;
	    }
	    &.mobile{
	      display:block;
	    }
	    @media screen and (min-width:992px){
	      &.desktop{
	        display:block;
	      }
	      &.mobile{
	        display:none;
	      }
	    }
	  }
	}

	.videoWrapper{
		opacity:0.0;
		transition: all 0.3s ease;
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:8;

		.pr{
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			iframe{
				transform:scale(1.15,1.15);
			}
			iframe,video{
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
	}
}

figure{
	margin:0;
	img{
		width:100%;
		height:auto;
	}
}
figcaption{
	font-size:12px;
	margin:0.5rem 0 0 1rem;
	padding-left:1rem;
	font-size:12px;
	background-image:url('../img/caption.png');
    background-position-x: left;
    background-position-y: 4px;
    background-repeat:no-repeat;
    a{
    	color:#161B20;
    	&:hover{
    		color:#78AB42;
    	}
    }
}

button.btn,a.btn2{
	min-height:54px;
	border-radius:26px;
	border:0;
	background-color:#00f;
	padding:12px 27px;
	box-sizing:border-box;
	transition:color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Avenir LT Pro 95 Black';
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:16px;
  display:flex;
  align-items:center;
  width:fit-content;

  /*
  @media screen and (min-width:992px) {
  	&{
  		font-size:16px;
  	}
  }
  */

	span{
	    font-family: 'Avenir LT Pro 55 Roman';
    	font-size:14px;
    	text-transform:none;
	}	
	&.transparent{
		color:$xgrey;
		border:1px solid $xgrey;
		background-color:transparent;
	}
	&.green{
		color:#fff;
		border:1px solid #78AB42;
		background-color:#78AB42;
		&:hover,&:focus{
			// background-color:#fff;
			// color:#78AB42;	
			background-color:#081B19;
			color:#fff;	
			border:1px solid #081B19;
		}
	}
	&.black{
		color:#fff;
		border:1px solid $xgrey;
		background-color:$xgrey;
		&:hover,&:focus{
			background-color:#78AB42;
			border:1px solid #78AB42;
		}
	}
	&.download{
		color:#fff;
		border:1px solid #fff;
		background-color:transparent;
		background-image:url('../img/download-icon.png');
		background-repeat:no-repeat;
		padding-right: calc(2rem + 26px);
	    background-position-x: calc(100% - 26px);
	    background-position-y: center;
	    text-transform:none;
	}
	&.transparent,&.download{
		&:hover,&:focus{
			background-color:#78AB42;
			color:#fff;	
			border-color:#78AB42;
		}
	}
}

a.btn2{
	text-decoration:none;
	span{
		display:inline;
	}
}

// deal with situation where column width forces text to break over two lines
section.wideButton{
	a.btn2{
	    box-sizing:border-box;
	    padding-top:1rem;
	    padding-bottom:1rem;
	}
}

a.linkedin,a.email{
	background-color:$xgrey;
	background-repeat:no-repeat;
	background-position: center;
	width:0px;
	span{
		display:inline-block;
		overflow:hidden;
		text-indent:-999em;
		height:0px;
		width:0px;
	}
	&:hover{
		background-color:$green;
	}
	&:focus{
		background-color:$green;
	}
}
a.linkedin{
	background-image:url('../img/linkedin.png');
}
a.email{
	background-image:url('../img/email.png');
}

.sub{
	&.download{
		&.horizontal{
			ul{
				display:flex;
			}
		}
		width:100%;
		&.bb{
			border-bottom:2px solid $grey1;
		}
		ul{
			list-style-type:none;
			padding-left:0;
		}
		& > ul{
			& > li{
				position:relative;
				.docdl{
					padding:2rem 2rem 2rem calc(2rem + 90px);
					min-height:calc(120px + 2rem);
					// background-image:url('../img/notype-icon.png');
					background-image:url('../img/notype-thumbnail.png');
					background-repeat:no-repeat;
					background-position-x:1rem;
					background-position-y:center;
					background-size:90px;
					transition:all 0.3s ease;
					width:100%;
					border-radius:0 0 27px 0;
					display:flex;
					flex-direction:column;
					justify-content:center;
					&.multiLanguage{
						p.webinar{
							margin-top:0.5rem;
						}
						p > a{
								color:$grey2;
								text-decoration:none;
								&:hover{
									color:$green;	
								}
						}
						ul{
							/*
							display:flex;
							justify-content:flex-start;
							flex-wrap:wrap;
							*/
							li{
								display:inline-block;
								width:100%;
								margin-bottom:0;
								font-size:14px;
								a{
									color:$grey2;
									text-decoration:none;
									&:hover{
										color:$green;	
									}
								}
							}
							@media screen and (min-width:992px){
								&{
									flex-wrap:nowrap;
									li{
										display:inline-block;
										padding-right:0.5rem;
										width:initial;
										&:after{
											content:", ";
										}

										&:last-child{
											padding-right:0rem;
											&:after{
												content:"";
											}
										}
									}
								}
							}
						}
					}
					&.pdf{
						// background-image:url('../img/pdf-icon.png');
						background-image:url('../img/pdf-thumbnail.png');
					}
					&.docx{
						// background-image:url('../img/docx-icon.png');
						background-image:url('../img/docx-thumbnail.png');
					}
					&.xslx{
						// background-image:url('../img/xlsx-icon.png');
						background-image:url('../img/xlsx-thumbnail.png');
					}
				}
				
				a.overlay{
					position:absolute;
					left:0px;
					top:0px;
					width:100%;
					height:100%;
					z-index:5;
					span{
						text-indent:-9999em;
						overflow:hidden;
						display:block;
						height:0;
					}
				}
				h3{
					color:$green;
					margin: 0;
					font-size: 1.125rem;
					line-height: 1.65rem;
				}
				p{
					color:$grey2;
					font-size:14px;
					margin:0;
				}
				&:hover,&:focus{
					.docdl{
						background-color:#D2D9DF;
						// background-size:80px;
					}
				}
				a:focus + .docdl{
					background-color:#D2D9DF;
					// background-size:80px;
				}
			}
		}
	}
	&.email{
		width:100%;
		border-bottom:2px solid $grey1;
		position:relative;
		p{
			font-size:15px;
			font-family: 'Avenir LT Pro 85 Heavy';
			color:$xgrey;
			padding:2rem;
			display:block;
			width:100%;
			margin:0;
			span{
				color:$green;
				font-family: 'Avenir LT Pro 55 Roman';
			}
		}
		a{
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			z-index:5;
			span{
				text-indent:-9999em;
				overflow:hidden;
				display:block;
				height:0;
			}
		}

		&:hover{
			p{
				background-color:#f7fff7;
			}
		}
	}
}

.accordion{
	border-bottom:2px solid $grey1;
	.title{
		cursor:pointer;
		background-image:url('../img/accordion-open-black.png');
		background-repeat:no-repeat;
		background-position:right center;
		h2{
			font-size:24px;
			font-family: 'Avenir LT Pro 85 Heavy';
			font-weight:200;
		}
	}
	.clipper{
		overflow:hidden;
		max-height:0;
		transition:max-height 0.3s ease;
	}
	&.open{
		.title{
			background-image:url('../img/accordion-close.png');
		}
		.clipper{
			max-height:100rem;
		}
	}	
}

a.arrow1,a.blocklink{
	background-image:url('../img/arrow1.png');
	background-repeat:no-repeat;
	background-position: left 0%;
	padding-left:1.6rem;
	display:inline-block;
	color:#fff;
	text-decoration:none;

	&:hover{
		background-image:url('../img/arrow1-hover.png');
		color:#78AB42;
	}
}

.paging{
	display:flex;
	justify-content: center;
	button.btn,
	a.btn2{
		height:40px;
		width:auto;
		border-radius:20px;
		padding:0 20px;
		margin:0px 4px;
		line-height:40px;
		text-align:center;
		display:block;
		line-height:54px;
		&.transparent{
			border-color:$grey2;
			color:$grey2;
			&.page{
				width:40px;
				padding:0;
			}
			&.current{
				background-color:$green;
				color:#fff;	
				border-color:$green;
				&:hover,&:focus{
					background-color:$green;
					color:#fff;	
					border-color:$green;
				}
			}
			&.first,&.last{
				width:auto;
				padding:0 16px;
			}
		}
	}
}

// spinner clockwise
@-ms-keyframes spinclockwise {
	0% { transform:rotate(0deg); }
	50% {  transform:rotate(180deg); }
	100% {  transform:rotate(360deg); }
}
@-moz-keyframes spinclockwise {
	0% { transform:rotate(0deg); }
	50% {  transform:rotate(180deg); }
	100% {  transform:rotate(360deg); }
}
@-webkit-keyframes spinclockwise {
	0% { transform:rotate(0deg); }
	50% {  transform:rotate(180deg); }
	100% {  transform:rotate(360deg); }
}
@keyframes spinclockwise {
	0% { transform:rotate(0deg); }
	50% {  transform:rotate(180deg); }
	100% {  transform:rotate(360deg); }
}

.desktopOnly{
	display:none;
}
.mobileOnly{
	display:block;
}

@media screen and (min-width:992px){
	.desktopOnly{
		display:block;
	}
	.mobileOnly{
		display:none;
	}
}

.z1{
	z-index:1 !important;
}
.z2{
	z-index:2 !important;
}
.z5{
	z-index:5 !important;
}
.z10{
	z-index:10 !important;
}
.z20{
	z-index:20 !important;
}
.z50{
	z-index:50 !important;
}
.z100{
	z-index:100 !important;
}
.z1000{
	z-index:1000 !important;
}

.imageBin{
	position:relative;
	width:100px;
	height:0px;
	overflow:hidden;
	z-index:-10;
	img{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
	}
}

/* --- TEST --- */

div.mark{
	position:absolute;
	left:0px;
	top:0px;
	z-index:100;
	width:100%;
	min-height:4px;
	border:1px solid $xgrey;
	color:#fff;
	&.start{
		background-color:green;
	}
	&.end{
		background-color:red;
	}
}

pre{
	padding:2rem;
	width:100%;
	box-sizing:border-box;
	background-color:#7f7f7f;
	color:$xgrey;
	margin:0;
}

p.testex{
	font-size:5rem;
	color:$xgrey;
	padding:2rem;
	background-color:#7f7f7f;
	margin:0;	
}

section.noTopPadding{
	padding-top:1rem !important;
	@media screen and (min-width:992px) {
		&{
			padding-top:0px !important;
		}
	}
	
}

section.noBottomPadding{
	padding-bottom:1rem !important;
	@media screen and (min-width:992px) {
		&{
			padding-bottom:0px !important;
		}
	}
}

section.noTopMargin{
	margin-top:1rem !important;
	@media screen and (min-width:992px) {
		&{
			margin-top:0px !important;
		}
	}
}

section.noBottomMargin{
	margin-bottom:1rem !important;
	@media screen and (min-width:992px) {
		&{
			margin-bottom:0px !important;
		}
	}
}

@media screen and (min-width:992px) {
	
}

.topMargin0px{ margin-top:0px !important; }
.bottomMargin0px{ margin-bottom:0px !important; }
.topPadding0px{ padding-top:0px !important; }
.bottomPadding0px{ padding-bottom:0px !important; }

section.mobileTopMarginZero{ margin-top:0px; }
section.mobileBottomMarginZero{ margin-bottom:0px; }
section.mobilePaddingMarginZero{ padding-top:0px; }
section.mobilePaddingMarginZero{ padding-bottom:0px; }

@media screen and (min-width:992px) {	
	.topMargin10px{ margin-top:10px !important; }
	.topMargin20px{ margin-top:20px !important; }
	.topMargin30px{ margin-top:30px !important; }
	.topMargin40px{ margin-top:40px !important; }
	.topMargin50px{ margin-top:50px !important; }
	.topMargin60px{ margin-top:60px !important; }
	.topMargin70px{ margin-top:70px !important; }
	.topMargin80px{ margin-top:80px !important; }
	.topMargin90px{ margin-top:90px !important; }
	.topMargin100px{ margin-top:100px !important; }
	.topMargin110px{ margin-top:10px !important; }
	.topMargin120px{ margin-top:120px !important; }
	.topMargin130px{ margin-top:130px !important; }
	.topMargin140px{ margin-top:140px !important; }
	.topMargin150px{ margin-top:150px !important; }
	.topMargin160px{ margin-top:160px !important; }
	.bottomMargin10px{ margin-bottom:10px !important; }
	.bottomMargin20px{ margin-bottom:20px !important; }
	.bottomMargin30px{ margin-bottom:30px !important; }
	.bottomMargin40px{ margin-bottom:40px !important; }
	.bottomMargin50px{ margin-bottom:50px !important; }
	.bottomMargin60px{ margin-bottom:60px !important; }
	.bottomMargin70px{ margin-bottom:70px !important; }
	.bottomMargin80px{ margin-bottom:80px !important; }
	.bottomMargin90px{ margin-bottom:90px !important; }
	.bottomMargin100px{ margin-bottom:100px !important; }
	.bottomMargin110px{ margin-bottom:10px !important; }
	.bottomMargin120px{ margin-bottom:120px !important; }
	.bottomMargin130px{ margin-bottom:130px !important; }
	.bottomMargin140px{ margin-bottom:140px !important; }
	.bottomMargin150px{ margin-bottom:150px !important; }
	.bottomMargin160px{ margin-bottom:160px !important; }
	.bottomMargin170px{ margin-bottom:170px !important; }
	.bottomMargin180px{ margin-bottom:180px !important; }
	.bottomMargin190px{ margin-bottom:190px !important; }
	.bottomMargin200px{ margin-bottom:200px !important; }
	.bottomMargin210px{ margin-bottom:210px !important; }
	.bottomMargin220px{ margin-bottom:220px !important; }
	.bottomMargin230px{ margin-bottom:230px !important; }
	.bottomMargin240px{ margin-bottom:240px !important; }
	.bottomMargin250px{ margin-bottom:250px !important; }
	.topPadding10px{ padding-top:10px !important; }
	.topPadding20px{ padding-top:20px !important; }
	.topPadding30px{ padding-top:30px !important; }
	.topPadding40px{ padding-top:40px !important; }
	.topPadding50px{ padding-top:50px !important; }
	.topPadding60px{ padding-top:60px !important; }
	.topPadding70px{ padding-top:70px !important; }
	.topPadding80px{ padding-top:80px !important; }
	.topPadding90px{ padding-top:90px !important; }
	.topPadding100px{ padding-top:100px !important; }
	.topPadding110px{ padding-top:110px !important; }
	.topPadding120px{ padding-top:120px !important; }
	.topPadding130px{ padding-top:130px !important; }
	.topPadding140px{ padding-top:140px !important; }
	.topPadding150px{ padding-top:150px !important; }
	.topPadding160px{ padding-top:160px !important; }
	.bottomPadding10px{ padding-bottom:10px !important; }
	.bottomPadding20px{ padding-bottom:20px !important; }
	.bottomPadding30px{ padding-bottom:30px !important; }
	.bottomPadding40px{ padding-bottom:40px !important; }
	.bottomPadding50px{ padding-bottom:50px !important; }
	.bottomPadding60px{ padding-bottom:60px !important; }
	.bottomPadding70px{ padding-bottom:70px !important; }
	.bottomPadding80px{ padding-bottom:80px !important; }
	.bottomPadding90px{ padding-bottom:90px !important; }
	.bottomPadding100px{ padding-bottom:100px !important; }
	.bottomPadding110px{ padding-bottom:10px !important; }
	.bottomPadding120px{ padding-bottom:120px !important; }
	.bottomPadding130px{ padding-bottom:130px !important; }
	.bottomPadding140px{ padding-bottom:140px !important; }
	.bottomPadding150px{ padding-bottom:150px !important; }
	.bottomPadding160px{ padding-bottom:160px !important; }
}

section.horizontal_divider{
	&.d-image{
		height:124px;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		@media screen and (min-width:992px) {
			&{
				height:248px;
			}
		}
	}
	hr{
		margin:1.0rem 0;
	}
	@media screen and (min-width:992px) {
		&{
			hr{
				margin:5rem 0;
			}
		}

	}
}

p.lt{
	font-size:18px;
	line-height:28px;
}

.sidelink{
	position:fixed;
	top:50%;
	text-decoration:none;
	color:$xgrey;
	z-index:10;
	background-color:#fff;
	padding:2px 1em 0px 1rem;
	border-radius:20px;
	border:1px solid $green;

	&:hover{
		background-color:$green;
		color:#fff;
	}
	&.prevlink{
		right:0rem;
		transform:rotate(-90deg);
	}
	&.nextlink{
		left:0rem;
		transform:rotate(90deg);
	}
	@media screen and (min-width:992px){
		&{
			&.prevlink{
				right:1rem;
			}
			&.nextlink{
				left:1rem;
			}
		}
	}
}

section.module.error404{
	padding-top:8rem;
	padding-bottom:8rem;
}

p.fakeOrder{
		font-family: 'Chronicle Display Semibold';
		font-size:20px;
		min-width:3rem;
		color:$grey2;
		font-style:italic;
		margin-bottom:30px;
}

