// home page
body.homepage{
	header.navheader{
		@media screen and (min-width:992px){
			&{
				&:before{
					transition: all 0.3s ease;
					height:$homeNavbarheight;
				}
				.logo,
				.menuToggle{
					transition:height 0.3s ease;
					height:$homeNavbarheight;
				}
				.logo{
					img{
						transition:height 0.3s ease;
						height:$largeLogo;
					}
				}
			}
		}

		@media screen and (min-width:1400px) {
			&{

				display:flex;
				position:fixed;
				box-sizing:border-box;
				width:100%;
				z-index:10;

				// pin transparent nav header to browser window top, always present
				&.fixed{
					&.fixedHide,&.fixedShow{
						position:fixed;
						left:0px;
						top:0px
					}
				}

				.container{
					display:flex;
					justify-content: space-between;
					// height:$homeNavbarheight;
				}

				.logo{

				}

				.menuToggle{
					display:none;
				}
				nav.barnav{
					.clipper{
						max-height:initial;
						overflow:visible;
					}
					overflow:visible;
					padding:0;
					& ul.navbar-nav{
						position:relative;
						top:83px;
						list-style-type:none;
						padding:0;
						flex-flow: row;
						height:$navbarheight;

						align-items:end;
						& > li{
							z-index:1;
							padding: 0 1rem;
							height:$navbarheight;
							&:last-child{
								padding-right:0;
							}

							&:nth-child( 6n +1 ) {
								z-index:6;
							}
							&:nth-child( 6n + 2 ) {
								z-index:5;
							}
							&:nth-child( 6n + 3 ) {
								z-index:4;
							}
							&:nth-child( 6n + 4 ) {
								z-index:3;
							}
							&:nth-child( 6n + 5 ) {
								z-index:2;
							}
							&:nth-child( 6n ) {
								z-index:1;
							}
							&:hover,
							&:focus,
							&.current_page_item,
							&.current-page-parent,
							&.current-page-ancestor{
								&:after{
									content:" ";
									display:block;
									width:100%;
									height:3px;
									background-color:$green;
									position:absolute;
									left:0px;
									bottom:0px;
									z-index:1;
								}
								& > a{
									color:$green;
									&:hover,
									&:focus{
										color:$green;
									}
								}
							}

							&.menu-item-has-children{
								background-repeat:no-repeat;
								background-image:url('../img/child-menu.png');
								background-position:calc(100%) calc(50% - 3px);
								ul.sub-menu{
									display:inline-block;
									width:240px;
									position:absolute;
									left:0rem;
									top:$navbarheight;
									z-index:22;
									background-color:#fff;
									padding:0 0.5rem 0 1rem;
									max-height:0;
									overflow:hidden;
									transition:max-height 0.3s ease;
									// border-radius:0 0 20px 20px;
									li{
										height:auto;
										padding:0 0 0.5rem 0;
										&:first-child{
											padding-top:1rem;
										}
										a{
											height:initial;
											line-height:normal;
											font-family: 'Avenir LT Pro 55 Roman';
											font-size:18px;
										}
									}
								}
								&:hover,&:focus{
									ul.sub-menu{
										max-height:1000px;
									}
								}
							}
							a{
								display:inline-block;
								height:$navbarheight;
								line-height:$navbarheight;
								font-size:20px;
							}
						}
					}
				}

				nav{
					& > ul{
						& > li{
							padding: 0 2rem;
							&.menu-item-has-children{
								background-position:calc(100% - 0.8rem) center;
							}
						}
					}
				}
			}
		}
	}

}
