// sticky breadcrumb bar

header.navheader{
	&:before{
		content:' ';
		display:block;
		position:absolute;
		width:100%;
		// height:$navbarheight;
		left:0px;
		top:0px;
		opacity:0;
		z-index:0;
		transition:opacity 0.3s ease, top 0.3s ease;
		box-shadow: 0 10px 25px $navbarDropShadow;
	}
}

body.fixed{
	&.fixedHide,
	&.fixedShow{
		header.navheader{
			position:fixed;
			left:0px;
			top:0px;
			&:before{
				top:0px;	
			}

			.logo,
			.menuToggle{
				height:$navbarheight;
			}
			.logo img{
				height:$smallLogo;
			}
		}
	}
}

body.generic{
	header.navheader{
		&:before{
			height:$navbarheight;
		}
	}

	&.fixed{
		header.navheader{
			position:fixed;
			left:0px;
			&:before{
				top:0;
			}
		}
		main.mainBreadcrumb{
			.breadcrumb,
			.breadcrumb:before{
				top:0;
			}
		}
	}
	&.fixedHide{
		header.navheader,
		header.navheader:before{
			top:-$navbarheight;
		}
		main.mainBreadcrumb{
			.breadcrumb,
			.breadcrumb:before{
				top:0;
			}
		}
	}
	&.fixedShow{
		header.navheader,
		header.navheader:before{
			top:0px !important;
		}
		main.mainBreadcrumb{
			.breadcrumb,
			.breadcrumb:before{
				top:$navbarheight;
			}
		}
	}

	&.headerShadow{
		header.navheader:before{
			opacity:0;	
		}

		&.fixedHide{
			main.mainBreadcrumb{
				.breadcrumb{
					&:before{
						opacity:1;
					}
				}
			}
		}
		&.fixedShow{
			header.navheader:before{
				opacity:1;	
			}
			main.mainBreadcrumb{
				.breadcrumb{
					&:before{
						opacity:1;
					}
				}
			}
		}
	}

	main.mainBreadcrumb{
		padding-top:178px !important; // 100px (navbar height) + 48px (breadcrumb bar height) + 60px (breadcrumb bar bottom margin)

		.breadcrumb{
			position: fixed;
		    top: 100px;
		    left: 0px;
		    width: 100%;
		    z-index: 2;
		    margin-bottom:0;
		    transition:top 0.3s ease;
			&:before{
				content:' ';
				display:block;
				position: fixed;
				height:48px;
			    top: 100px;
			    left: 0px;
			    width: 100%;
			    z-index: -1;
				box-shadow: 0 10px 25px $navbarDropShadow;
				opacity:0;
				transition:opacity 0.3s ease, top 0.3s ease;
			}
		}
	}

	&.stickyBreadcrumb{
		header.navheader{
			&:before{
				display:none;
			}
		}
		main.mainAll{
			.breadcrumb{
				position: fixed;
				top: $navbarheight;
				bottom: auto;
				z-index: 6;
				transition:top 0.3s ease;
				&:before{
					content:' ';
					display:block;
					position: fixed;
					height:48px;
				    top: 100px;
				    left: 0px;
				    width: 100%;
				    z-index: -1;
					box-shadow: 0 10px 25px $navbarDropShadow;
					opacity:1;
					transition:opacity 0.3s ease, top 0.3s ease;
				}
			}
		}
		&.fixedHide{
			main.mainAll{
				.breadcrumb{
					top: 0px;
					&:before{
						top: 0px;
					}
				}
			}
		}
		&.fixedShow{
			main.mainAll{
				.breadcrumb{
					top: $navbarheight;
					&:before{
						top: $navbarheight;
					}
				}
			}
		}
	}
}

body.homepage{
	header.navheader{
		nav.barnav{
			& ul.navbar-nav{
				transition: top 0.3s ease;
				top:0px;
			}
		}
	}
	&.fixed{
		header.navheader{
			position:fixed;
			left:0px;
			top:0px;
			&:before{
				height:$navbarheight;
			}
		}
		&.headerShadow{
			header.navheader:before{
				opacity:1;	
			}
			&.fixedHide{
				header.navheader:before{
					opacity:0;	
				}
			}
			&.fixedShow{
				header.navheader:before{
					opacity:1;	
				}
			}		
		}
		&.fixedHide,
		&.fixedShow{

		}
		&.fixedHide{
			header.navheader,
			header.navheader:before{
				top:-$navbarheight;	
			}
			
			&.fixedShow{
				header.navheader,
				header.navheader:before{
					top:0px;	
				}
			}		
		}
	}
}



@media screen and (min-width:992px){
	body.generic{
		&.headerShadow{
			header.navheader:before{
				opacity:1;	
			}
		}
		&.fixed{
			header.navheader{
				position:fixed;
				left:0px;
				&:before{
					top:0;
				}
			}
			main.mainBreadcrumb{
				.breadcrumb,
				.breadcrumb:before{
					top:$navbarheight;
				}
			}
		}
		&.fixedHide,
		&.fixedShow{
			header.navheader,
			header.navheader:before{
				top:0px;
			}
			main.mainBreadcrumb{
				.breadcrumb,
				.breadcrumb:before{
					top:$navbarheight;
				}
			}
		}

		// main.mainAll page banner + breadcrumb bar
		&.stickyBreadcrumb{
			main.mainAll{
				.breadcrumb,
				.breadcrumb:before{
					top:$navbarheight;
				}
				.breadcrumb{
					position: fixed;
				    top: 100px;
				    bottom:auto;
				    left: 0px;
				    width: 100%;
				    z-index: 6;
				    margin-bottom:0;
				    transition:top 0.3s ease;
					&:before{
						content:' ';
						display:block;
						position: fixed;
						height:48px;
					    top: 100px;
					    left: 0px;
					    width: 100%;
					    z-index: -1;
						box-shadow: 0 10px 25px $navbarDropShadow;
						opacity:0;
						transition:opacity 0.3s ease, top 0.3s ease;
					}
				}
			}		
			&.fixedHide,
			&.fixedShow{
				main.mainAll{
					.breadcrumb{
						top: $navbarheight;
						&:before{
							top: $navbarheight;
						}
					}
				}
			}
			&.headerShadow{
				&.fixedHide,
				&.fixedShow{
					main.mainAll{
						.breadcrumb{
							top: $navbarheight;
							&:before{
								opacity:1;
							}
						}
					}
				}
			}
		}
	}

	body.homepage{
		header.navheader{
			nav.barnav{
				& ul.navbar-nav{
					top:83px;
				}
			}
		}
		&.fixed{
			header.navheader{
			}
		}

		&.headerShadow{
			header.navheader:before{
				opacity:1;	
			}
			&.fixed{
				&.fixedHide,
				&.fixedShow{
					header.navheader:before{
						opacity:1;	
					}
				}
			}
		}
		&.fixed{
			&.fixedHide,
			&.fixedShow{
				header.navheader{
					nav.barnav{
						& ul.navbar-nav{
							top:0px;
						}
					}
					position:fixed;
					left:0px;
					top:0px;
					&:before{
						top:0px;	
					}

					.logo,
					.menuToggle{
						height:$navbarheight;
					}
					.logo img{
						height:$smallLogo;
					}
				}
			}
		}
	}
}

@media screen and (min-width:1200px){
	body.generic{
	}
}

@media screen and (min-width:1400px){
	body.generic{
		main.mainBreadcrumb{
		}
		main.mainAll{
		}
		&.fixed{
			&.fixedHide,&.fixedShow{
			}
		}
	}

	body.homepage{

		&.headerShadow{
			header.navheader:before{
				opacity:1;	
			}
		}
		&.fixed{
			&.fixedHide,
			&.fixedShow{
				top:0px;
				header.navheader{
					.container,
					nav.barnav ul.navbar-nav{
						height:$navbarheight;
					}
					.logo img{
						height:$smallLogo;
					}
				}
			}
		}
	}
}
