header.navheader{
	// position:static;
	position:absolute;
	background-color:#fff;
	box-sizing:border-box;
	width:100%;
	z-index:20;
	transition:top 0.3s ease;

	.menubits{
		position:relative;
	}
	.logo,
	.menuToggle{
		display:flex;
		align-items:center;
		height:$navbarheight;
	}
	.logo{
		img{
			height:$smallLogo;
		}
	}
	.menuToggle{
		position:absolute;
		right:1rem;
		top:0px;
		.toggler{
			cursor:pointer;
			display:block;
			background-color:transparent;
			width:34px;
			height:34px;
			padding:0;
			margin:0;

			position:relative;

			span.label{
				overflow:hidden;
				text-indent:-9999em;
				width:0;
				height:0;
				display:none;
			}

			span.icon,
			&:before,
			&:after{
				content:' ';
				display:block;
				width:34px;
				height:6px;
				background-color:$xgrey;
				transition:all 0.3s ease;
				position:absolute;
				left:0px;
				top:50%;
				margin-top:-4px;
			}
			&:before{
				margin-top:-18px;
			}
			&:after{
				margin-top:10px;
			}
		}
	}
	.clipper{
		width:100%;
		max-height:0;
		overflow:hidden;
		transition: max-height 0.3s ease;
	}
	nav.barnav{
		ul{
			list-style-type:none;
			padding:1rem 0 2rem 0;
			box-sizing:border-box;
			li{
				position:relative;
				&.current_page_item{
					& > a{
						color:$green;
						&:hover,
						&:focus{
							color:$green;
						}
					}
				}
				&.menu-item-has-children{
					ul{
						padding:0 0 0 2rem;
						li{}
					}
				}
			}
		}
		a{
			
			font-size:18px;
			font-family: 'Avenir LT Pro 85 Heavy';
			color:#161B20;
			text-decoration:none;
			&:hover,
			&:focus{
				color:$green;
			}
		}
	}

	&.open{
		.clipper{
			max-height:1000px;
		}
		.menuToggle{
			.toggler{
				span{
					background-color:transparent;
				}
				&:before{
					margin-top:-4px;
				    transform: rotate(45deg);
				}
				&:after{
					margin-top:-4px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

body.generic{
	header.navheader{
		@media screen and (min-width:1200px) {
			&{
				display:flex;
				position:fixed;
				box-sizing:border-box;
				width:100%;
				z-index:10;

				// pin transparent nav header to borwser window top, always present
				&.fixed{
					&.fixedHide,&.fixedShow{
						position:fixed;
						left:0px;
						top:0px
					}
				}

				.container{
					display:flex;
					justify-content: space-between;
					height:$navbarheight;
				}

				.logo{

				}

				.menuToggle{
					display:none;
				}
				nav.barnav{
					.clipper{
						max-height:initial;
						overflow:visible;
					}
					overflow:visible;
					padding:0;
					& ul.navbar-nav{
						list-style-type:none;
						padding:0;
						display:flex;
						justify-content:space-between;
						flex-flow: row;
						& > li{
							z-index:1;
							padding: 0 1rem;
							height:$navbarheight;
							&:last-child{
								padding-right:0;
							}

							&:nth-child( 6n +1 ) {
								z-index:6;
							}
							&:nth-child( 6n + 2 ) {
								z-index:5;
							}
							&:nth-child( 6n + 3 ) {
								z-index:4;
							}
							&:nth-child( 6n + 4 ) {
								z-index:3;
							}
							&:nth-child( 6n + 5 ) {
								z-index:2;
							}
							&:nth-child( 6n ) {
								z-index:1;
							}
							&:hover,
							&:focus,
							&.current_page_item,
							&.current-page-parent,
							&.current-page-ancestor{
								&:after{
									content:" ";
									display:block;
									width:100%;
									height:3px;
									background-color:$green;
									position:absolute;
									left:0px;
									bottom:0px;
									z-index:1;
								}
								& > a{
									color:$green;
									&:hover,
									&:focus{
										color:$green;
									}
								}
							}

							&.menu-item-has-children{
								background-repeat:no-repeat;
								background-image:url('../img/child-menu.png');
								background-position:calc(100%) calc(50% - 3px);
								ul.sub-menu{
									display:inline-block;
									width:240px;
									position:absolute;
									left:0rem;
									top:$navbarheight;
									z-index:22;
									background-color:#fff;
									padding:0 0.5rem 0 1rem;
									max-height:0;
									overflow:hidden;
									transition:max-height 0.3s ease;
									// border-radius:0 0 20px 20px;
									li{
										height:auto;
										padding:0 0 0.5rem 0;
										&:first-child{
											padding-top:1rem;
										}
										a{
											height:initial;
											line-height:normal;
											font-family: 'Avenir LT Pro 55 Roman';
											font-size:18px;
										}
									}
								}
								&:hover,&:focus{
									ul.sub-menu{
										max-height:1000px;
									}
								}
							}
							a{
								display:inline-block;
								height:$navbarheight;
								line-height:$navbarheight;
								font-size:20px;
							}
						}
					}
				}
			}
		}
		@media screen and (min-width:1200px) {
			&{
				nav{
					& > ul{
						& > li{
							padding: 0 2rem;
							&.menu-item-has-children{
								background-position:calc(100% - 0.8rem) center;
							}
						}
					}
				}
			}
		}
	}
}

