section.page-banner{
	.breadcrumb{
		width:100%;
		background-color:$xgrey;
		background-image:url('../img/fade.png');
		// margin-bottom:60px;
		ul{
			list-style-type:none;
			padding-left:0;
			display:flex;
			flex-wrap:wrap;
			margin:0;
			li{
				display:inline-block;
				color:#fff;
				padding:0 0.5rem 0 0;
				a,span{
					display:inline-block;
					color:#fff;
					line-height:3rem;
					text-transform:uppercase;
					font-size:12px;
					font-family: 'Avenir LT Pro 95 Black';
				}
				a{
					text-decoration:none;
					&:after{
						content:'/';
						display:in-block;
						padding-left:0.5rem;
					}
					&:hover{
						color:$green;
					}
				}
			}
		}
	}
	.bg{
		// background-color:rgba(22,27,32,0.35);
		background-repeat:no-repeat;
		background-size:cover;
		background-position-y:center;
		width:100%;
	}
	.heading{
		min-height:600px;
		display:flex;
		align-items:center;
		color:#fff;
		h1{
			font-family: 'Avenir LT Pro 85 Heavy';
			font-weight:200;
			font-size:16px;
			line-height:150%;
			text-transform:uppercase;
			margin-bottom:38px;
			@include headerUnderline(#fff,0.5rem);
		}
		p{
			font-family: 'Avenir LT Pro 65 Medium';
			font-weight:200;
			font-size:24px;
			line-height:150%;
			// font-size: 1.125rem;
			// line-height: 1.65rem;
		}
	}

	.extras{
		color:$xgrey;
		padding-bottom:2rem;
		[class*="col-"],.block{
			position:relative;
			z-index:1;
			background-color:#fff;
			border-radius:0 0 40px 0;
			width:100%;
			box-sizing:border-box;
			padding:2rem 1rem;
			margin-bottom:1rem;

			width:calc(100% - 24px);
			margin-left:12px;
			margin-right:1px;
			&::before {
				content: '';
				position: absolute;
				// left:calc(var(--bs-gutter-x) * .5);
				// width:calc(100% - var(--bs-gutter-x));
				top:0px;
				left:0;
				width:100%;
				z-index: -1;
				height: 100%;
				border-radius: 0px 0px 40px 0px;
				box-shadow: 0 12px 34px rgba(30, 48, 64, 0.2);
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}

			&:hover{
				&::before {
					opacity: 1;
				}
			}
		}
		h3{
			font-family: 'Avenir LT Pro 85 Heavy';
			font-size:26px;
			line-height:120%;
			margin-bottom:1rem;
		}
		p{
			font-size: 1.125rem;
			line-height: 1.65rem;
		}
		a{
			&.arrow1,
			&.blocklink{
				color:$xgrey;
				font-size:16px;
				// font-family: 'Avenir LT Pro 65 Medium';
				// font-family: 'Avenir LT Pro 95 Black';
				font-family: 'Avenir LT Pro 85 Heavy';
				font-weight:bold;
				background-position: left 20%;
				background-image:url('../img/arrow1-black.png');
				&:hover{
					color:$green;
					background-image:url('../img/arrow1-green.png');
				}
			}
		}
		ul{
			list-style-type:none;
			padding-left:0;
			margin-bottom:0;
			li{
				width:100%;
				box-sizing:border-box;
				margin-bottom:0.5rem;
				font-size:18px;
				line-height:120%;
				&:last-child{
					margin-bottom:0;
				}
			}
			@media screen and (min-width:768px){
				&{
					display:flex;
					flex-wrap:wrap;
					li{
						width:50%;
					}				
				}
			}
		}
	}
	@media screen and (min-width:992px) {
		&{
			.heading{
				p{
					font-size: 1.965rem;
					line-height: 2.656rem;
					&.large{
						font-size:44px;
						line-height:55px;
					}
				}
			}
			.extras{
				.row{
					justify-content: space-between;
				}
				[class*="col-"],
				.block{
					width:100%;
					margin-left:0;
					margin-right:0;
					margin-bottom:0;
					&:nth-child(3n + 1),
					&:nth-child(3n + 2){
						width:calc(25% - 2.5rem);
					}
					&:nth-child(3n){
						width:calc(50% - 2.5rem);
					}
				}
				h3{}
				p{
					margin-bottom:3rem;
				}
				a{
					&.arrow1{}
					&.blocklink{
						position:absolute;
						left:1rem;
						bottom:2rem;
					}
				}
				ul{
					li{
						a{}
					}
				}
			}

		}
	}
}

main.mainAll{
	section.page-banner{
		padding-bottom:48px;
		position:relative;
		.breadcrumb{
			position:absolute;
			left:0px;
			top:auto;
			bottom:0;
			margin-bottom:0;
		}
	}
	@media screen and (min-width:992px) {
		&{
		}
	}
}