// art_registry_intro

section.art_registry_intro{
	padding-top:0rem;
	padding-bottom:0rem;
	h2{
		font-family: 'Avenir LT Pro 85 Heavy';
		font-size:34px;
		color:#161B20;
		@include headerUnderline(#78AB42,0.5rem);
		padding-top:2rem;
		margin-bottom:2rem;
	}
	p{
		font-size:18px;
		color:$xgrey;
		a{
			color:$green;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	.leftcolumn,
	.rightcolumn{
		
	}
	@media screen and (min-width:992px) {
		&{
			padding-top:4rem;
			padding-bottom:4rem;
			h2{
				font-size:44px;
			}
			p{
				font-size:18px;
			}
			.leftcolumn,
			.rightcolumn{
				margin-bottom:2rem;
			}
		}
	}
}