// art_registry_steps

section.art_registry_steps{
	padding-bottom:4rem;
	ol{
		list-style-type:none;
		padding-left:0px;
		.accordion{
			margin-bottom:0rem;
			.title{
				background-position:calc(100% - 1rem) caLC(50% + 4px);
				padding-top:26px;
				padding-bottom:13px;
				h2{
					margin:0 3rem 0 0;

				}
			}
			.clipper{
				.content{
					padding:0rem 0 2rem 0;
					ul{
						font-size: 1.125rem;
						line-height: 1.65rem;
						margin-bottom:0.5rem;
						& > li{
							margin-bottom:0.5rem;
							& > a{
								color:#6ea143;

							}
						}
					}
					*:last-child{
						margin-bottom:0;
					}
				}
			}
		}
	}

	p{
		font-size: 1.125rem;
		line-height: 1.65rem;
		color:$xgrey;
		& > a{
			color:#6ea143;

		}
	}
	@media screen and (min-width:992px) {
		&{
			ol{
				.accordion{
					.title{
						padding-top:26px;
						padding-bottom:26px;
					}
					.clipper{
						.content{
							padding:1rem 2rem 2rem 2rem;
							ul{
								
							}
						}
					}
				}
			}
			p{
				
			}
		}
	}
}