section.bio{
	.bioBlock{
		position:relative;
		justify-content:space-between;
		padding-top:0rem;
		padding-bottom:2rem;
	}
	.text{
		color:$xgrey;
		h1{
			font-size:34px;
			line-height:36px;
			font-family: 'Avenir LT Pro 85 Heavy';
			&.no-org{
				margin-bottom:2.5rem;
			}
		}
		h3{
			font-size:18px;
			line-height:28px;
			font-family: 'Avenir LT Pro 55 Roman';
			margin-bottom:2.5rem;
		}
		.biotext{
			p{
				font-size: 1.125rem;
				line-height: 1.65rem;
				font-family: 'Avenir LT Pro 55 Roman';
			}
		}
	}	
	.portrait{
		figure{
			margin-bottom:2rem;
		}
	}
	.connect{
		display:flex;
		p,a{
			margin-bottom:0;
			font-family: 'Avenir LT Pro 95 Black';
			color:$xgrey;
			font-size:16px;
		}
		a{
			background-image:none;
			background-color:transparent;
			width:auto;
			margin-left:0.5rem;
			text-decoration:none;
			&:hover{
				color:$green;
			}
			&.linkedin,
			&.email{
				background-image:none;
				background-color:transparent;
				padding:0;
			}
		}
	}
}

@media screen and (min-width:992px) {
	section.bio{
		.bioBlock{
			position:relative;
			justify-content:space-between;
			padding-top:4rem;
			padding-bottom:4rem;
		}
	}
}