// document_list
section.document_list{
	.documentListTemplates{
		display:none;
	}
	h1{
		font-family: 'Avenir LT Pro 85 Heavy';
		fon-size:34px;
		color:$xgrey;
		margin-bottom:50px;
		@include headerUnderline(#78AB42,0.5rem);
	}

	.docfilter{
		.control{
			h2{
				font-size:14px;
				font-weight:700;
				padding:0.5rem 0;
				text-align:left;
				margin:0;
			}
		}
		.clipper{
			.content{
				background-color:#fff;
			}
		}
		p.currentFilter{  display:none; }
		ul{
			list-style-type:none;
			padding-left:0;
		}
		ul.mainsub{
			li{
				.title{
					background-image:url('../img/arrow-down-white.png'), url('../img/fade.png');
					background-repeat:no-repeat, repeat-x;
					background-position: calc(100% - 1rem) calc(50% - 0px), left top;
					background-color:#86939D;
					&:hover{
						color:#fff;
						background-color:$xgrey;
						background-image:url('../img/arrow-down-white.png'), url('../img/fade.png');
					}
				}
				&.current{
					.title{
						background-color:$xgrey;
						background-image:url('../img/arrow-down-white.png'), url('../img/fade.png');
					}
				}
				&.open{
					.title{
						background-image:url('../img/arrow-up-white.png'), url('../img/fade.png');
					}
				}
				&.static{
					&.current{
						.title{
							color:#fff;
							background-color:$xgrey;
							background-image:url('../img/fade.png');
							background-repeat:repeat-x;
							background-position:left top;
						}
					}
					.title{
						background-image:url('../img/fade.png');
						background-repeat:repeat-x;
						background-position:left top;
						&:hover{
							color:#fff;
							background-color:$xgrey;
							background-image:url('../img/fade.png');
							background-repeat:repeat-x;
							background-position:left top;
						}
					}
				}
			}
		}
		ul.mainonly{}

		li{
			border-bottom:0;
			background-color:#F3F6F9;

			.title{
				background-image:url('../img/fade.png');
				background-repeat:repeat-x;
				background-position: calc(100% - 1rem) calc(50% - 0px), left top;
				background-color:#86939D;
				border-radius:0 0 27px 0;
				h2{
					font-family: 'Avenir LT Pro 95 Black';
					display:inline-block;
					width:100%;
					padding:0 1rem; 
					text-decoration:none;
					line-height:54px;
					height:54px;
					box-sizing:border-box;
					color:#fff;
					font-size:16px;
					margin:0;
				}
				&:hover{
					color:#fff;
					background-color:$xgrey;
					background-image:url('../img/fade.png');
					background-repeat:repeat-x;
				}
			}
			&.static{
				margin-bottom:0.5rem;
				.title{
					background-image:none;
					min-height:50px;
					display:flex;
					align-items:center;
				}
				a{
					font-family: 'Avenir LT Pro 95 Black';
					display:inline-block;
					width:100%;
					padding:0 1rem; 
					text-decoration:none;
					box-sizing:border-box;
					color:#fff;
					font-size:16px;
					margin:0;
				}
			}
			&.accordion{
				margin-bottom:0.5rem;
			}
			&.current{
				.title{
					background-color:$xgrey;
					background-image:url('../img/fade.png');
					background-repeat:repeat-x;
					background-position:left top;
				}
			}

		}
		ul.sub{
			padding-top:0.5rem;
			background-color:#F3F6F9;
			border-radius:0 0 27px 0;
			li{
				background-color:transparent;	
				a{
					font-family: 'Avenir LT Pro 95 Black';
					display:inline-block;
					width:100%;
					padding:0.5rem 1rem 0.5rem 1rem; 
					text-decoration:none;
					box-sizing:border-box;
					font-size:14px;
					color:#161B20;
					&:hover{
						color:$green;
					}
				}
				&.current{
					a{
						color:$green;
						&:hover{
							color:$green;
						}
					}
					
				}
			}
		}
	}

	.docList{
		margin-top:2.5rem;
		.documentContainer{
		    transition:all 0.5s ease;
	    	max-height:10000px;
	    	overflow:hidden;
	    	position:relative;

		    &.waiting{
		    	max-height:100px;
				&::after{
					content:" ";
					display:block;
					width:32px;
					height:32px;
					position:absolute;
					left:calc(50% - 16px);
					top:calc(50% - 16px);

					background-image:url('../img/spinner.png');
					background-position:center bottom;
					background-size:32px 32px;
					background-repeat:no-repeat;
					-webkit-animation:spinclockwise 2s linear infinite;
					-moz-animation:spinclockwise 2s linear infinite;
					-ms-animation:spinclockwise 2s linear infinite;
					animation:spinclockwise 2s linear infinite;
				}
		    }

			.wt{
				width:100%;
			    transition:opacity 0.3s ease;
			    min-height:40px;
			    opacity:1.0;
			    &.fadeOut{
			    	opacity:0;
			    }
			}

			.docBox{
				ul{
					list-style-type:none;
					padding-left:0px;
				}
				// li.sub{ padding-top:1rem; }
				h2{
					font-size:24px;
				}
			}
			.paging{
				padding-bottom:3rem;
				justify-content:flex-start;
			}
		}
	}

	@media screen and (min-width:992px){
		&{
			h1{}
			.docfilter{
				h2{
					text-align:left;
				}
				p.currentFilter{
					display:none;
				}
				ul.main{
					& > li{
						ul.sub{
							& > li{

							}
						}
					}
				}
			}
			.docBox{
				.documentContainer{
					.sub{
						&.download{
						}
					}
				}
			}

		}
	}
}

section.document_list{
	li.doc{
		.item {
			padding:1rem 2rem 1.5rem calc(2rem + 90px);
			border-bottom:1px solid #D2D9DF; 
			background-repeat:no-repeat;
			background-position-x:0;
			background-position-y:top;
			background-size:90px;
			transition:all 0.3s ease;
			min-height:calc(120px + 1.5rem);
			margin-bottom:1.5rem;
			width:100%;
			background-image:url('../img/pdf-icon.png');

			&.pdf{
				background-image:url('../img/pdf-thumbnail.png');
			}

			&.docx{
				background-image:url('../img/docx-thumbnail.png');
			}

			&.xlsx{
				background-image:url('../img/xlsx-thumbnail.png');
			}
			h3{
				font-family: 'Avenir LT Pro 85 Heavy';
				color:$xgrey;
				font-size:24px;
				margin:0;
			}
			p{

			}
		}
	}
}

li.doc{
	.item {
		a{
			color:$body-copy;
			font-size:14px;
			&:hover{
				color:$green;
			}
		}
		&.multiLanguage{
			ul{
				display:flex;
				justify-content:flex-start;
				flex-wrap:wrap;
				margin-bottom:0.5rem;
				li{
					display:inline-block;
					padding-right:0.5rem;
					a{
						color:$body-copy;
						font-size:14px;
						// text-transform: capitalize;
					}
					&:after{
						content:", ";
					}

					&:last-child{
						padding-right:0rem;
						&:after{
							content:"";
						}
					}
				}
			}
		}
	}
}
