// download_bar
section.download_bar{
	width:100%;
	background-color:#007f00;
	padding-top:4rem;
	padding-bottom:4rem;
	display:flex;
	flex-flow:column;	
	align-items:center;
	color:#fff;
	background-repeat:no-repeat;
	background-size:cover;
}