section.faqs{
	padding-top:2rem;
	padding-bottom:2rem;

	.faqfilter{
		display:none;
		
		position:sticky;
		left:0px;
		top:50px;
		background-color:#fff;
		z-index:1;
		.control{
			width:100%;
			font-size:14px;
			font-weight:700;
			padding:0.5rem 0;
			text-align:center;
			margin:0;
			position:relative;
			cursor:pointer;
			border:1px solid #161b20;
			border-radius:0 0 20px 0;
			margin-bottom:1rem;
			h2{
				margin:0;
			}
			p{
				margin-bottom:0;
			}
		}

		&.open{
			.control{
				.icon{
					background-position:center center;		
					background-image:url('../img/accordion-close-black2.png');	
				}
			}
			div.clipper{
				max-height:150rem;
			}	
		}

		div.clipper{

			display:block;
			overflow:hidden;
			transition:max-height 0.3s ease;
			width:calc(100% + 2px);
			max-height:0;
			ul{
				margin-bottom:2rem;
			}
		}
		/*
		@media screen and (max-width:991px) {
			&{
				width:100%;
				display:block;
			}
		}
		*/
		@media screen and (min-width:992px) {
			&{
				display:block;
				.control{
					display:none;
				}
				div.clipper{
					display:block;
					overflow:inherit;
					max-height:fit-content;
					width:auto;
					position:relative;
					left:0px;
					top:0px;
					z-index:1;
				}
			}
		}

		ul{
			list-style-type:none;
			padding-left:0px;
			li{
				a{
					display:block;
					width:100%;
					font-size:24px;
					font-family: 'Avenir LT Pro 85 Heavy';					
					color:#D2D9DF;
					text-decoration:none;
					padding:0.75rem 0;
					border-bottom:1px solid #161b20;
					&:hover{
						color:#78ab42;
					}
				}
				&.active{
					a{
						color:#161B20;
					}
				}
			}
		}
	}
	.faqlist{
		position:relative;
		z-index:0;
		.faqGroup{

			scroll-margin-top: 178px;

			margin-bottom:6rem;
			/*
			transition:max-height 0.3s ease;
			max-height:0;
			overflow:hidden;
			*/
			&.active{
				max-height:20000px;
			}
			h2.groupTitle{
				font-family: 'Avenir LT Pro 85 Heavy';
				color:#86939D;
				font-size:24px;
				line-height:1;
				margin:0 0 1rem 0;
				padding:0;
				@include headerUnderline($green,0.5rem);
			}
			ul{
				list-style-type:none;
				padding-left:0;
			}
			ul.downloads{
				margin-bottom:1rem;
				li.doc{
					padding:1rem 2rem 1rem calc(90px + 2rem);
					min-height:calc(120px + 2rem);
					background-image:url('../img/pdf-thumbnail.png');
					background-size:90px;
					background-repeat:no-repeat;
					background-position-x:0rem;
					background-position-y:center;
					display:flex;
					align-items:center;
					.item{
						display:flex;
						align-items:center;
						flex-flow:column;
						h3{
							color:$green;
							font-family: 'Avenir LT Pro 85 Heavy';
							font-size: 1.125rem;
							line-height: 1.65rem;
							margin:0;
							flex-basis:100%;
							width:100%;
						}
						& > ul{
							width:100%;
							flex-basis:100%;
						}
					}
				}
			
			}
			ul.questions{
				margin-bottom:2rem;
				.accordion{
					margin-bottom:1rem;
					.title{
						background-position-y:calc(50% - 8px);
						padding-right:3rem;
						padding-top:10px;
						padding-bottom:26px;
						h2{
							font-size: 1.465rem;
							line-height: 1.9rem;
							font-family: "Avenir LT Pro 85 Heavy";
							color: #161b20;
							margin: 0;
						}
					}
					.clipper{
						.content{
							p{
								font-size: 1.125rem;
								line-height: 1.65rem;
								color: #161b20;
							}
							ul{
								li{}
							}
						}
					}
				}
			}
		}
	}

	&{
		display:flex;
	}
	.faqfilter,.faqlist{
		width:100%;
		padding-right: calc(var(--bs-gutter-x) * .5);
	    padding-left: calc(var(--bs-gutter-x) * .5);
	}

	@media screen and (min-width:992px) {
		&{
			padding-top:4rem;
			padding-bottom:4rem;
			.space-between{
				justify-content:space-between;

			}
			.faqfilter{
				display:block;
				width:25.7%
			}
			.faqlist{
				width:57.2%;
				padding-top:20px;
				.faqGroup{
					scroll-margin-top: 148px;
				}
			}

			.faqfilter{
				position:relative;
				left:0px;
				top:0px;
				background-color:transparent;
				.stickybox{
					position: sticky;
					left: 0px;
					top: calc(100px + 4rem);
				}
			}
		}
	}
}

@media screen and (min-width:992px) {
	body.stickyBreadcrumb{
		.faqlist{
			.faqGroup{
				scroll-margin-top: 178px;
			}
		}
	}
}

/*
body{
	&.fixed{
		main{
			.faqfilter{
				transition:top 0.3s ease;
			}
		}
		&.fixedHide{
			main{
				.faqfilter{
					top:50px;
				}
				&.mainAll{
					.faqfilter{
						top:70px;
					}
				}
			}
		}
		&.fixedShow{
			main{
				.faqfilter{
					top:110px;
				}
				&.mainAll{
					.faqfilter{
						top:170px;
					}
				}
			}
		}
	}
	@media screen and (min-width:992px){
		&{
			&.fixed{
				&.fixedHide{
					main{
						.faqfilter{
							top:0px;
						}
						&.mainAll{
							.faqfilter{
								top:0px;
							}
						}
					}
				}
				&.fixedShow{
					main{
						.faqfilter{
							top:0px;
						}
						&.mainAll{
							.faqfilter{
								top:0px;
							}
						}
					}
				}
			}
		}
	}
}
*/
