// featured_document
section.featured_document{
	padding-top:4rem;
	padding-bottom:4rem;	
	background-color:#F4F7F9;

	&.bgSet{
		position:relative;
		z-index:0;
		&::before{
			content:' ' ;
			display:block;
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			z-index:0;
		}
		.image,
		.description{
			position:relative;
			z-index:1;
		}
	}
	&.light{
		color:#fff;
		.accordion{
			.title{
				background-image:url('../img/arrow-down-white.png');
			}
			&.open{
				.title{
					background-image:url('../img/arrow-up-white.png');
				}
			}
		}
	}

	.row{
		align-items: center;
	}

	.image{
		padding-bottom:2rem;
		figure{
			width:60%;
			margin:0 auto;
			img{

			}
			figcaption{

			}
		}
	}
	.description{
		h2{
			font-size:26px;
			font-family: 'Avenir LT Pro 85 Heavy';

		}
		p, ul > li{
			font-size: 1.125rem;
			line-height: 1.65rem;
		}
	}
	.accordion{
		border-bottom:0;
		margin-bottom:1rem;
		.title{
			display:inline-block;
			width:auto;
			padding-right:1rem;
			background-image:url('../img/accordion-open-black2.png');
			h3{
				font-size:16px;
				font-family: 'Avenir LT Pro 55 Roman';
				font-weight:200;
				margin:0;
			}
		}
		.content{
			padding-top:1rem;
			padding-bottom:1rem;
		}
		p{
			font-size: 1.125rem;
			line-height: 1.65rem;
		}
		&.open{
			.title{
				background-image:url('../img/accordion-close-black2.png');
			}
		}
	}
	.buttons{
		display:flex;
		a{
			margin-left:1em;
			&:first-child{
				margin-left:0;
			}
		}
	}
	@media screen and (min-width:992px) {
		&{
			.image{
				padding-bottom:0;
			}
		}
	}
}