section.featured_news{
	padding-top:2rem;
	padding-bottom:2rem;
	.track{
		position:relative;
	}
	h2{
		font-size:16px;
		line-height: 40px;
		text-transform:uppercase;
		font-family: "Avenir LT Pro 85 Heavy";
		color: #86939D;
	}
	.item{
		position:relative;
		background-color:#F3F6F9;
		min-height:100%;

		.bg1{
			display:none;
			position:absolute;
			left:0px;
			top:1.5rem;
			width:100%;
			height:calc(100% - 3rem);
			z-index:0;
			
		}

		.description{
			order:2;
			padding: 2rem 1rem 2rem 1rem;
			position:relative;
			z-index:1;
		    box-sizing:border-box;
			p.category{
				color:#78AB42;
				font-size:16px;
				text-transform:uppercase;
				font-family: 'Avenir LT Pro 95 Black';
			}
			h3{
				font-size:20px;
				font-family: 'Avenir LT Pro 85 Heavy';
				a{
					color:$xgrey;
					text-decoration:none;
				}
			}
			p{
				font-size:18px;
				font-family: 'Avenir LT Pro 45 Book';
				&.source{
					font-size:15px;
					font-family: 'Avenir LT Pro 55 Roman';
				}
			}

		}
		.image{
			order:1;
			position:relative;
			z-index:1;
			figure{
				width:100%;
				margin:0rem auto;
				padding-top:60.8%;
				position:relative;
				overflow:hidden;
				img{
					position:absolute;
					left:50%;
					top:50%;
					width:100%;
					height:100%;
					object-fit:cover;
					transform:translate3d(-50%, -50%, 0);
				}
			}
		}
	}

	@media screen and (min-width:992px){
		&{
			padding-top:6rem;
			padding-bottom:5rem;
			.item{
				position:relative;
				.bg1{
					display:none;
					position:absolute;
					left:0px;
					top:1.5rem;
					width:100%;
					height:calc(100% - 3rem);
					z-index:0;
					background-color:#F3F6F9;
				}
				.flexy{
					display:flex;
				}
				.description{
					order:1;								
					flex-basis:50%;
				    align-items: flex-start;
				    display: flex;
				    flex-flow: column;
				    padding-left:4rem;
				    padding-right:4rem;
    				justify-content: center;
    				h3{
    					font-size:34px;
    				}
					p{
						font-size:22px;
					}
    			}
				.image{
					order:2;								
					flex-basis:50%;
					figure{
						width:100%;
						min-height:100%;
						margin:0 auto;
						img{
							width:100%;
						}
					}
				}
			}
		}
	}

	// slick slider
	.slick-track{
	    display: flex !important;
	}

	.slick-slide{
	    height: inherit !important;
	    min-height:100% !important;
	    & > div{
	    	height:100%;
	    }
	}
	.slick-arrow{ 
		border:0;
		background-color:transparent;
		text-indent:-9999em;
		overflow:hidden;
		position:absolute;
		top:50%;
		margin-top:-16px;
		height:33px;
		width:17px;
		z-index:8;
		background-repeat:no-repeat;
		&.slick-prev{
			left:-50px;
			background-image:url('../img/slickslider-prev.png');
		}
		&.slick-next{
			right:-50px;
			background-image:url('../img/slickslider-next.png');
		}
	}
	ul.slick-dots{
		margin-top:2rem;
		list-style-type:none;
		padding:0;
		display:flex;
		width:100%;
		justify-content:center;
		li{	
			padding:0 0.5rem;
			button{
				border:1px solid #86939D;
				border-radius:10px;
				width:20px;
				height:20px;

				background-color:#fff;
				text-indent:-9999em;
				overflow:hidden;
			}
			&.slick-active{
				button{
					background-color:$green;
				}
				
			}
		}
	}
}