section.governance{
	overflow:hidden;
	.leftColumn{
		ul{
			list-style-type:none;
			padding-left:0;
			li{
				margin-bottom:0.5rem;
				a{
					text-decoration:none;
					color:#86939D;
					font-size:16px;
					font-family: 'Avenir LT Pro 95 Black';
					text-transform:uppercase;
					&:hover{
						color:#161B20;
					}
					&.active{
						color:#161B20;
						padding-bottom:0.25rem;
						border-bottom:2px solid #78AB42;
					}
				}
				.accordion{
					border-bottom:0;
					.title{
						display:inline-block;
						padding-right:18px;
						// accordion-close-grey1.png
						background-image:url('../img/accordion-open-grey1.png');
						background-position:right 4px;
						h2{
							color:#86939D;
							font-size:16px;
							font-family: 'Avenir LT Pro 95 Black';
							text-transform:uppercase;
							margin:0;
						}
					}
					.content{
						padding:1rem 0 0 1.5rem;
						ul{
							li{
								margin-bottom:0.5rem;
								a{
									font-family: 'Avenir LT Pro 65 Medium';
									font-size:16px;
									color:#86939D;
								}
							}
						}
					}
					&.open{
						.title{
							background-image:url('../img/accordion-close-grey1.png');
						}
					}
				}
			}

		}
	}
	.rightColumn{
		.panel{
			color:$xgrey;
			h3{
				font-size:24px;
				font-family: 'Avenir LT Pro 85 Heavy';
			}
			p{
				font-size: 1.125rem;
				line-height: 1.65rem;

				a{
					color:$green;
					text-decoration:none;
				}
			}
		}
	}
	.switchpanel{
		margin-bottom:2rem;
	}
	.panel{
		max-height:0;
		transition:max-height 0.3s ease;
		padding:0;
		overflow:hidden;
		&.active{
			max-height:initial;
		}
	}

	@media screen and (min-width:992px){
		&{
			.leftColumn{
				ul{
					li{
						margin-bottom:1.5rem;
					}

				}
			}
		}
	}
}

.peopleGrid{
	margin-bottom:1rem;
	.members{

		// overflow-x:scroll;
		width:100%;
		ul{
			flex-wrap:wrap;
		}

		@media screen and (min-width:992px){
			&{
				.members{
					// overflow-x:scroll;
					width:100%;
					ul{
						flex-wrap:nowrap;
					}
				}
			}
		}
		ul{
			list-style-type:none;
			padding-left:0;
		    margin-right: calc(var(--bs-gutter-x) * -0.75);
		    margin-left: calc(var(--bs-gutter-x) * -0.75);

			li{
				z-index:1;
				position:relative;

			    -ms-flex-negative: 0;
			    flex-shrink: 0;
			    width: 100%;
			    padding-right: calc(var(--bs-gutter-x) * 0.75);
			    padding-left: calc(var(--bs-gutter-x) * 0.75);
			    margin-top: var(--bs-gutter-y);
			    margin-bottom:2rem;
			    max-width:100%;
			    box-sizing:border-box;
				
				&::before,
				&::after{
				    position: absolute;
				    left: calc(var(--bs-gutter-x) * 0.75);
				    top: 0px;
				    z-index: -1;
				    content: " ";
				    display: block;
				    width: calc(100% - (var(--bs-gutter-x) * 1.5) );
				    height: 100%;
				    background-color: #fff;
				    border-radius: 34px 0px 34px 0px;
				}
				&::before {
					box-shadow: 0 12px 34px rgba(30, 48, 64, 0.2);
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
				}
				&:after {
				    background-color: #fff;
				}

				&:hover{
					&::before {
						opacity: 1;
					}
				}


	    		@media screen and (min-width:576px){
					&{
						max-width:50%;
					}
				}
	    		@media screen and (min-width:992px){
					&{
						max-width:25%;
					}
				}


				&.greyedout{
					opacity:0.5;
				}
				a.overlay{
					position:absolute;
					left:0%;
					top:0%;
					width:100%;
					height:100%;
					z-index:5;
					span{
						display:block;
						overflow:hidden;
						text-indent:-9999em;
					}
				}
				figure{
					width:100%;
					padding-top:100%;
					position:relative;
					margin-bottom:0;
					overflow:hidden;
					border-radius: 34px 0px 0 0px;
					img{
						position:absolute;
						left:50%;
						top:50%;
						min-width:100%;
						min-height:100%;
						transform:translate3d(-50%, -50%, 0);
					}
				}
				.info{
					padding:1rem;
					color:$xgrey;

					h3{
						font-size:24px;
						font-family: 'Avenir LT Pro 85 Heavy';
					}
					p{
						font-size:18px;
						&.bio{
							font-size:14px;
							color:#9D9D9D;
						}
					}
				}

			}
		}
	}
	
}