// home_complex_image

// 1922px
// head 770px offset 193 -> 770/1922 + 193/1922 -> 40.0% + 10.0%
// image 1140 -> 1140/1922 -> 59.3vw

section.home_complex_image{
	margin-bottom:3rem;
	.complex{
		position:relative;
		z-index:1;
		padding-right: var(--bs-gutter-x,0.75rem);
		padding-left: var(--bs-gutter-x,0.75rem);
		// padding-bottom:4rem;
		min-height:674px;
		// display:flex;
		// align-items:end;		

		.heading{
			position:relative;
			z-index:3;
			left:0px;
			top:31vh;
			// margin-bottom:3rem;
			height:fit-content;
			.img-mobile{
				display:block;
			}
			.img-desktop{
				display:none;
			}
		}

		.xbox{
			display:none;
		}
		.graphic{
			position:absolute;
			z-index:2;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			overflow:hidden;
			max-height:745px;
			img{
				min-width:100%;
				min-height:100%;
				display:block;
			}
		}
	}
	h2,h3,p{
		// color:#161B20;
		color:#fff;
	}	

	h2{
		font-family: 'Avenir LT Pro 55 Roman';
		font-size:46px;
		margin:0;
		padding-bottom:2rem;
		position:relative;
		&:after{
			content:" ";
			display:block;
			height:2px;
			width:180px;
			position:absolute;
			left:0px;
			bottom:0px;
			background-color:$green;
		}
	}

	h3{
		font-size:32px;
	}
	p{
		font-size:18px;
	}

	@media screen and (min-width:480px){
		&{
			.complex{
				.heading{
					top:24vh;
				}
			}
		}
	}

	@media screen and (min-width:576px){
		&{
			.complex{
				.heading{
					max-width: 540px;
					margin-right:auto;
					margin-left:calc(50% - 270px);
					top:14vh;
				}
			}
			h2{
				font-size:76px;
			}
		}
	}
	@media screen and (min-width:768px){
		&{
			.complex{
				.heading{
					max-width: 720px;
					margin-left:calc(50% - 360px);
					background-color:transparent;
				}
			}
		}
	}

	@media screen and (min-width:992px){
		&{
			.complex{
				padding-left:0;
				padding-right:0;
				// position image on right side of container
				display:flex;
				justify-content:flex-end;
				padding-right:0px;
				.heading,
				.xbox{
					display:block;
					max-width: 880px;
					left:10%;
					width:80%;
					position:absolute;
					left:5%;
					width:90%;
					top:50%;
					transform:translate3d(0,-50%,0);
					margin-left:calc(50% - 480px);
					.img-mobile{
						display:none;
					}
					.img-desktop{
						display:block;
					}
				}
				.heading{
					z-index:3;
					h2{
						color:#161B20;
					}
				}
				.xbox{
					z-index:4;
					overflow:hidden;
					margin-left:40.7vw;
					margin-top:0px;
					width:calc( 9.3vw + 340px );
					.clip{
						position:relative;
						width:100%;
						height:100%;
						overflow:hidden;
						display:flex;
					}
					h2{
						color:#fff;
						transform:translate3d( calc(-480px + 9.3vw), 0, 0);
						width:880px;
					}
				}

				.graphic{
					position:relative;
					z-index:2;
					width:59.3vw;
				}
			}
			h2{
				font-size:76px;
			}
			h3{
				font-size:48px;
			}
			p{
				font-size:20px;
			}
		}
	}

	@media screen and (min-width:1140px) {
		&{
			.complex{
				.heading{
					margin-left:calc(50% - 570px);
				}
				.xbox{
					margin-left:40.7vw;
					margin-top:0px;
					width:calc( 9.3vw + 440px );
					h2{
						transform:translate3d( calc(-570px + 9.3vw), 0, 0);
						width:880px;
					}
				}
			}
		}
	}

	@media screen and (min-width:1320px) {
		&{
			.complex{
				.heading{
					margin-left:calc(50% - 660px);
				}
				.xbox{

					margin-left:40.7vw;
					margin-top:0px;
					width:calc( 9.3vw + 220px );
					h2{
						transform:translate3d( calc(-660px + 9.3vw), 0, 0);
						width:880px;
					}
				}
			}
		}
	}

}