// latest_news
section.latest_news{
	padding-bottom:2rem;
	.header{
		padding-top:2rem;
		padding-bottom:2rem;
		display:flex;
		justify-content:space-between;
		align-items:center;
		h2{
			margin-bottom:0;
			font-family: 'Avenir LT Pro 85 Heavy';
			font-size:2.5rem;
			color:#161B20;
		}
		a.btn2{
			display:none;
		}

	}	
	.mobile-more-news{
		.col{
			a{
				margin:0 auto;
				width:fit-content;
			}
		}
	}
	.item{
		position:relative;
		z-index:2;
		margin-bottom:2rem;

		&::before {
			content: '';
			position: absolute;
			left:calc(var(--bs-gutter-x) * .5);
			top:0px;
			z-index: -1;
			width:calc(100% - var(--bs-gutter-x));
			height: 100%;
			border-radius: 0px 0px 34px 0px;
			box-shadow: 0 12px 34px rgba(30, 48, 64, 0.2);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover{
			&::before {
				opacity: 1;
			}
		}

		&::after{
			position:absolute;
			left:calc(var(--bs-gutter-x) * .5);
			top:0px;
			z-index:-1;
			content:" ";
			display:block;
			width:calc(100% - var(--bs-gutter-x));
			height:100%;
			background-color:#fff;
			border-radius: 0px 0px 34px 0px;
		}

		figure{
			position:relative;
			padding-top:61.9%;
			overflow:hidden;
			width:100%;
			position:relative;

			img{
				position:absolute;
				left:50%;
				top:50%;
				min-height:100%;
				min-width:100%;
				object-fit:cover;
				transform:translate3d(-50%,-50%,0);
			}

			&.scaleByHeight{
				img{
					height:100%;
					width:auto;
					object-fit:contain;
					top:0%;
					transform:translate3d(-50%,0%,0);
				}
			}
		}
	}
	.info{
		position:relative;
		z-index:1;
		padding:1rem 1rem 3rem 1rem;
		padding-top:1rem;
		padding-bottom:3rem;
		background-position:calc(100% - 1rem) 1rem;
		background-repeat:no-repeat;
		background-size: 12px auto;
		&.attachment{
			background-image:url('../img/attachment.png');
		}
		&.externalLink{
			background-image:url('../img/exlink.png');
		}
		h3{
			font-family: 'Avenir LT Pro 85 Heavy';
		}
	}
	.category{
		color:$green;
		font-size:12px;
		font-family: 'Avenir LT Pro 95 Black';
		text-transform:uppercase;
		margin-bottom:1.7rem;
	}
	.extra{
		position:absolute;
		left:calc((var(--bs-gutter-x) * .5) + 1rem);
		bottom:0px;
		font-size:12px;
		z-index:3;
		font-family: 'Avenir LT Pro 65 Medium';
	}
	a.overlay{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:5;
		span{
			display:block;
			overflow:hidden;
			width:0;
			height:0;
			text-indent:-9999em;
		}
	}
	@media screen and (min-width:992px){
		&{
			.header{
				h2{
					font-size: 3.5rem;
					line-height: 4.375rem;
				}
				a.btn2{
					display:inline-block;
				}
			}
			.item{
				display:block;
				margin-bottom:1rem;
				.info{
					h3{
						font-size:20px;
					}
				}
				figure{
					img{
						transition:all 0.3s ease;
						transform:translate(-50%,-50%)  scale(1.01,1.01); // 1.01 to deal with rounding errors which lead to the image not quite filling the width of the container
					}
					&.scaleByHeight{
						img{
							transform:translate(-50%, 0%)  scale(1.01,1.01); // 1.01 to deal with rounding errors
						}
					}
				}
				/*
				&:hover{
					figure{
						img{
							transform:translate(-50%,-50%)  scale(1.1,1.1);
						}
						&.scaleByHeight{
							img{
								transform:translate(-50%, 0%)  scale(1.1,1.1);
							}
						}
					}
				}
				a.overlay:focus + figure{
					img{
						transform:translate(-50%,-50%)  scale(1.1,1.1);
					}
					&.scaleByHeight{
						img{
							transform:translate(-50%, 0%)  scale(1.1,1.1);
						}
					}
				}
				*/
			}
			.mobile-more-news{
				display:none;
			}
		}
	}
}

main.single-news{
	section.latest_news{
		padding-top:1rem;
		padding-bottom:1rem;
		.header{
			margin:0;
			padding-top:0;
			padding-bottom:1rem;
			h2{
				margin-bottom:0;
				font-size:2rem;
			}
		}

		.item{
			display:none;
			&:first-child{
				display:block;
			}
		}
		@media screen and (min-width:992px) {
			&{
				padding-top:4rem;
				padding-bottom:4rem;
				.header{
					padding-bottom:3rem;
				}
				.item{
					display:block;
				}
			}
		}
	}
}
