article.news{
	padding-top:0rem;

	hr{
		margin:2rem 0;
	}

	.sidePadding{
		padding-left: calc((var(--bs-gutter-x) * .5) + 1rem);
		padding-right: calc((var(--bs-gutter-x) * .5) + 1rem);
	}


	.sub.download > ul > li .docdl{
		padding-right:0;
		padding-top:1rem;
		padding-bottom:1rem;
	}
	.mainImg{
		width:100%;
		position:relative;
		.frame{
			padding-top:57.1%;
			width:100%;
			position:relative;
			margin-bottom:3rem;
			border-radius:0 0 100px 0;
			overflow:hidden;
		}
		img{
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			height:100%;
			object-fit:cover;
			transform:translate3d(-50%, -50%, 0);
		}
		figcaption{
			position:absolute;
			left:1rem;
			bottom:-1.5rem;
			width:calc(100% - 2rem);
			box-sizing:border-box;
			margin-left:0;
		}
	}

	.postContentBox{
		display:flex;
		flex-wrap:wrap;
		// 400/1545
		aside{
			width:100%;
			order:2;
			h2{
				margin-bottom:1rem;
				@include headerUnderline(#78AB42,0.5rem);
				&:after{
					width:50% !important;
				}
			}
			.buttons{
				a{
					width:44px;
					min-height:44px;
					border-radius:22px;
					background-size:20px;
					padding:0;
					display:inline-block;
				}
			}
		}
		// 1145/1545
		.postContent{
			width:100%;
			order:1;
		}
		p{
			strong{
				font-size:22px;
				line-heoght:32px;
			}
		}
		h2{
			font-size:26px;
			line-height:32px;
			font-family: 'Avenir LT Pro 65 Medium';
		}
		ul{
			padding-left:1rem;
			list-style-type:none;
			li{
				margin-bottom:1rem;
				position:relative;
				padding-left:1.2rem;
				background-image:url('../img/post-bullet.png');
				background-repeat:no-repeat;
				background-position:left top;
				strong{
					font-family: 'Avenir LT Pro 85 Heavy';
				}
			}
		}
		blockquote.wp-block-quote{
			padding-left:2rem;
			padding-right:2rem;
			position:relative;
			&:before{
				content:'"';
				display:block;
				position:absolute;
				left:0px;
				top:0px;
				color:$green;
				font-size:40px;
				font-family: 'Avenir LT Pro 95 Black';
			}
			p{
				color:$xgrey;
				font-size:27px;
				line-height:37px;
				font-family: 'Avenir LT Pro 45 Book';
				margin:0;
				padding-top:0.5em;
			}
			cite{
				color:$grey2;
				font-size:16px;
				line-height:16px;
				font-family: 'Avenir LT Pro 35 Light';
			}
		}
	}

	h1{
	    font-size:32px;
	    line-height:38px;
	    font-family: 'Avenir LT Pro 85 Heavy';
	    margin:0;
	    color:$body-copy;
	    // @include headerUnderline(#78AB42,0.5rem);
	}

	p,ul{
		font-size: 1.125rem;
		line-height: 1.65rem;
		color:$body-copy;
		strong{
			font-family: 'Avenir LT Pro 85 Heavy';
		}
	}
	p{
		a{
			color:$green;
			// text-decoration:none;
		}
		&.date{
			font-family: 'Avenir LT Pro 85 Heavy';
		}
		&.category{
			color:$green;
			font-family: 'Avenir LT Pro 95 Black';
			font-size:14px;
			letter-spacing:0.7px;
			text-transform:uppercase;
		}	
	}
	.attachments{
		hr{
			margin:6rem 0;
		}
		h2{
			font-family: 'Avenir LT Pro 85 Heavy';
			font-size:26px;
			a{
				color:$green;
				text-decoration:none;
			}
		}
		ul{
			list-style-type:none;
			padding-left:0;
		}
		p,a{
			font-size:18px;
		}
		&.sub.download{
			&>ul{
				&>li{
					.pdf{
						h3{
							color:$green;
							font-size:22px;
							& > a{
								color:$green;
								text-decoration:none;
								font-size:22px;
							}
						}
						&.multiLanguage{
							ul{
								li{
									a{
										font-size:12px;
										text-decoration:none;
										color:#86939D;
										&:hover{
											color:$green;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media screen and (min-width:992px){
		&{
			padding-top:8rem;
			h1{
			    font-size:44px;
			    line-height:54px;
			}
			.sidePadding{
				padding-left: calc((var(--bs-gutter-x) * .5) + 8rem);
				padding-right: calc((var(--bs-gutter-x) * .5) + 8rem);
			}
			.postContentBox{
				flex-wrap:nowrap;
				aside{
					order:1;
					// width:16.66666666%;
					width:25%;
				}
				.postContent{
					order:2;
					// width:83.33333333%;
					width:75%;
				}
			}
			.mainImg{
				figcaption{
					left:8rem;
					width:calc(100% - 16rem);
				}
			}
		}
	}
}