section.news_filter{
	position:relative;
	overflow:hidden;
	.bg{
		background-color:#F7F6F3;
		width:100%;
		height:100%;
		position:absolute;
		left:0px;
		top:250px;
	}
	#itemTemplate{
		display:none;
	}
	.paging{
		padding-top:3rem;
		padding-bottom:3.5rem;
		button.btn{
			letter-spacing:1px;
			border:1px solid #86939D;
			border-radius: 2rem;
			padding:0 1.5rem 0 1.5rem;
			background-color:transparent;
			color:#86939D;
			&:hover, &.current{
				background-color:$green;
				color:#fff;
			}
		}
	}
	.newsItems{
	    position:relative;
	    transition:all 0.5s ease;
    	max-height:10000px;
    	overflow:hidden;
	    &.waiting{
	    	max-height:40px;
			/*
			@media screen and (min-width:992px){
				&{
					min-height:1000px;
				}
			}
			@media screen and (min-width:1200px){
				&{
					min-height:960px;
				}
			}
			@media screen and (min-width:1400px){
				&{
					min-height:960px;
				}
			}
			*/
			&::after{
				content:" ";
				display:block;
				width:32px;
				height:32px;
				position:absolute;
				left:calc(50% - 16px);
				top:calc(50% - 16px);

				background-image:url('../img/spinner.png');
				background-position:center bottom;
				background-size:32px 32px;
				background-repeat:no-repeat;
				-webkit-animation:spinclockwise 2s linear infinite;
				-moz-animation:spinclockwise 2s linear infinite;
				-ms-animation:spinclockwise 2s linear infinite;
				animation:spinclockwise 2s linear infinite;
			}
	    }
		.wt{
			width:100%;
		    transition:opacity 0.3s ease;
		    min-height:40px;
		    opacity:1.0;
		    &.fadeOut{
		    	opacity:0;
		    }
		}
	}

	.filter{
		width:100%;
		border:1px solid $xgrey;
		display:block;
		margin-bottom:5rem;
		position:relative;
		.control{
			color:#86939D;
			font-size:14px;
			font-weight:700;
			text-transform:uppercase;
			font-family: 'Avenir LT Pro 95 Black';
			width:100%;
			padding:0.5rem 0;
			text-align:center;
			margin:0;
			position:relative;
			cursor:pointer;
			span{
				&.f1{
					display:inline-block;
				}
				&.category{
					display:none;
				}
				&.icon{
					position:absolute;
					right:1rem;
					top:5px;
					width:27px;
					height:27px;
					display:block;
					background-repeat:no-repeat;
					background-image:url('../img/accordion-open-black2.png');
					background-position:center center;
				}
			}
		}

		&.open{
			.control{
				.icon{
					background-position:center center;		
					background-image:url('../img/accordion-close-black2.png');	
				}
			}
			div.clipper{
				max-height:150rem;
			}	
		}

		div.clipper{
			position:absolute;
			left:-1px;
			top:36px;
			z-index:5;
			display:block;
			overflow:hidden;
			transition:max-height 0.3s ease;
			width:calc(100% + 2px);
			max-height:0;
			ul{
				border-width:0 1px;
				border-style:solid;
				border-color:$xgrey;
				list-style-type:none;
				padding-left:0;
				display:inline-block;
				margin:0;
				width:100%;
				background-color:#fff;
				li{
					display:block;
					width:100%;
					margin-bottom:1rem;
					button{
						width:100%;
						color:$body-copy;
						background-color:#fff;
						border:0;
						font-weight:400;
						font-size:14px;
						text-transform:uppercase;
						text-align:center;
						letter-spacing:3px;
					}
					&:hover{
						button{
							color:$green;
						}
					}
					&.active{
						button{
							color:$green;
						}
					}
				}
			}
		}
		@media screen and (min-width:992px) {
			&{
				border:0;
				display:block;
				p.control{
					ont-family: "Avenir LT Pro 85 Heavy";
					color: #86939D;
					letter-spacing: 1px;
					font-size: 16px;
					line-height: 40px;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					display:block;
					width:auto;
					text-align:left;
					.icon{
						display:none;
					}
				}
				div.clipper{
					display:block;
					overflow:inherit;
					width:auto;
					position:relative;
					left:0px;
					top:0px;
					z-index:1;
					max-height:initial;
					ul{
						width:auto;
						border:0;
						background-color:transparent;
						li{
							display:inline-block;
							width:auto;
							margin-right:0.6rem;
							margin-bottom:0;
							button{
								width:auto;
								line-height:normal;
								letter-spacing:1px;
								border:1px solid #86939D;
								border-radius: 2rem;
								padding:0.5rem 1rem 0.5rem 1rem;
								background-color:transparent;
								color:#86939D;
							}
							&:hover, &.active{
								button{
									background-color:$green;
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
	}

	.item{
		margin-bottom:2rem;
	}


	@media screen and (min-width:992px){
		&{

		}
	}
}

// spinner clockwise
@-ms-keyframes spinclockwise {
    0% { transform:rotate(0deg); }
    50% {  transform:rotate(180deg); }
    100% {  transform:rotate(360deg); }
}
@-moz-keyframes spinclockwise {
    0% { transform:rotate(0deg); }
    50% {  transform:rotate(180deg); }
    100% {  transform:rotate(360deg); }
}
@-webkit-keyframes spinclockwise {
    0% { transform:rotate(0deg); }
    50% {  transform:rotate(180deg); }
    100% {  transform:rotate(360deg); }
}
@keyframes spinclockwise {
    0% { transform:rotate(0deg); }
    50% {  transform:rotate(180deg); }
    100% {  transform:rotate(360deg); }
}
