// two_column_text_image

section.two_column_text_image{

	.light{
		color:#fff;
	}

	&.left, &.right{
		.pair{
			.image{ order:2; }
			.text{ order:1; }
		}
	}
	.pair{
		width:100%;
		padding-top:1rem;
		display:flex;
		flex-flow:column;
	}	
	.image{
	    padding-right: var(--bs-gutter-x,0.75rem);
	    padding-left: var(--bs-gutter-x,0.75rem);
		margin:0;
		padding-bottom:1rem;
	}
	.text{
		display:flex;
		padding-bottom:1rem;
	    padding-right: var(--bs-gutter-x,0.75rem);
	    padding-left: var(--bs-gutter-x,0.75rem);
	}
	.copy{
		box-sizing:border-box;
		margin:0 auto;
		h2{
			font-family: "Avenir LT Pro 85 Heavy";
			font-size: 2.5rem;
			line-height: 4.375rem;
		}
		h3{
			font-size:26px;
		}
		h3{
			font-size:24px;
			a{
				color:$green;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		p{
			font-size:18px;
			strong{
				font-size:22px;
			}
			a{
				color:$green;
			}
		}
		a.btn2{
			width: max-content;
			&.green{
				color:#fff;
			}
		}
	}
	@media screen and (min-width:576px) {
		&{
			.copy{
				max-width:540px;
			}
		}
	}
	@media screen and (min-width:768px) {
		&{
			.copy{
				max-width:720px;
			}
		}
	}

	@media screen and (min-width:992px) {
		&{
			.pair{
				display:flex;
				padding-bottom:1rem;
				flex-flow:row;
				// align-items:center;
				.one{
					padding-left:0;
					padding-right:0;
				}
			}
			.image{
				flex-basis:42.2%;
				figure{
					div{
						overflow:hidden;
						position:relative;
						width:100%;
						// min-height:600px;
						padding-top:70%;
					}
					img{
						position:absolute;
						left:50%;
						top:50%;
						min-width:100%;
						min-height:100%;
						object-fit:cover;
						transform:translate3d(-50%,-50%,0);
					}
				}
			}
			.text{
				flex-basis:57.8%;
				padding-left:0;
				padding-right:0;
			}
			.copy{
				margin:0;
				max-width:initial;
				width:calc( (960px * 0.583) - 24px);
				min-height:400px;
				display:flex;
				flex-flow:column;
				padding:1rem;
				justify-content:center;
				h2{
					font-size: 3.5rem;
				}
				a{
					color:#86939D;
				}
			}

			&.left{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:1;
						}
						.text{
							order:2;
							justify-content:flex-end;
						}
						.copy{
							margin-right:calc( (( 100vw - 960px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:2;
						}
						.text{
							order:1;
							justify-content:flex-start;
						}
						.copy{
							margin-left:calc( (( 100vw - 960px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
				}
			}
			&.right{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:2;
						}
						.text{
							order:1;
						}
						.copy{
							margin-left:calc( (( 100vw - 960px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:1;
						}
						.text{
							order:2;
						}
						.copy{
							margin-right:calc( (( 100vw - 960px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width:1200px) {
		&{
			.copy{
				width:calc( (1140px * 0.583) - 24px);
			}
			&.left{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:1;
						}
						.text{
							order:2;
							justify-content:flex-end;
						}
						.copy{
							margin-right:calc( (( 100vw - 1140px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:2;
						}
						.text{
							order:1;
							justify-content:flex-start;
						}
						.copy{
							margin-left:calc( (( 100vw - 1140px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
				}
			}
			&.right{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:2;
						}
						.text{
							order:1;
						}
						.copy{
							margin-left:calc( (( 100vw - 1140px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:1;
						}
						.text{
							order:2;
						}
						.copy{
							margin-right:calc( (( 100vw - 1140px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width:1400px) {
		&{
			.copy{
				width:calc( (1320px * 0.583) - 24px);
			}
			&.left{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:1;
						}
						.text{
							order:2;
							justify-content:flex-end;
						}
						.copy{
							margin-right:calc( (( 100vw - 1320px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:2;
						}
						.text{
							order:1;
							justify-content:flex-start;
						}
						.copy{
							margin-left:calc( (( 100vw - 1320px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
				}
			}
			&.right{
				.pair{
					&:nth-child(2n+1) {
						.image{
							order:2;
						}
						.text{
							order:1;
						}
						.copy{
							margin-left:calc( (( 100vw - 1320px ) * 0.5) + 12px);
							padding-right:3rem;
						}
					}
					&:nth-child(2n) {
						.image{
							order:1;
						}
						.text{
							order:2;
						}
						.copy{
							margin-right:calc( (( 100vw - 1320px ) * 0.5) + 12px);
							padding-left:3rem;
						}
					}
				}
			}
		}
	}
}
