// two_column_text_text
section.two_column_text_text{
	padding-top:2rem;

	position:relative;	

	&.bgSet{
		&::before{
			content:' ' ;
			display:block;
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			z-index:0;
		}
	}
	&.light{
		color:#fff;
		.sub.download>ul>li .docdl.multiLanguage ul li a{
			color:#fff;
			&:hover{
				color:$green;
			}
		}
		.sub.download>ul>li .docdl{
			&:hover{
				background-color:#5f5f5f;
			}
		}
		.bulk .sub.button a.btn2.transparent{
			color:#fff;
			border-color:#fff;
		}
		.bulk .sub.button a.btn2.green{
			&:hover{
				color:$green;
				background-color:#fff;
				border-color:#fff;
			}
		}
	}

	.heading{
		h2,h3{
		    font-family: 'Avenir LT Pro 85 Heavy';
		}
		h2{
		    font-size:34px;
		    @include headerUnderline(#78AB42,0.5rem);
		}
		H3{
			font-size:21px;
		}
		
		.heading{
			margin-bottom:1rem;
		}
	}
	.mixed{
		p{
			a{
				color:$green;
				text-decoration:none;
			}
		}
	}
	&.header-28px{
		.heading{
			h2{
			    font-size:28px;
			}
		}
	}
	.bulk{
		.sub{
			margin-bottom:0.75rem;
			&.text{
				h2{}
				h3{
					// font-family: 'Avenir LT Pro 85 Heavy';
					font-size:26px;
				}
				h4{
					font-family: 'Avenir LT Pro 95 Black';
					font-size:20px;
				}
				p, ul{
					a{
						color:$green;
						text-decoration:none;
					}
				}
				p{
					font-size: 1.125rem;
					line-height: 1.65rem;

					&.first{
						font-weight:bold;
					}
					strong{
						font-family: 'Avenir LT Pro 85 Heavy';
					}
				}
			}
			&.highlight_box{
				background-color:#F3F6F9;
				border-left:3px solid #78AB42;
				box-sizing:border-box;
				padding:1rem 2rem;
				p{
					font-family: 'Avenir LT Pro 85 Heavy';
					font-size:18px;
					&:last-child{margin-bottom:0;}
				}
			}
			&.image{
				position:relative;
				z-index:1;
				
				figure{
					img{

					}
					figcaption{}
				}

			}
			&.ordered_list{
				li{
					.marker{
						font-family: 'Chronicle Display Semibold';
						font-size:20px;
						min-width:3rem;
						color:$grey2;
						font-style:italic;
					}

				}
				&.left, &.above{
					li{
						display:block;
						.marker{
							display:block;
							margin-bottom:1rem;
						}
						.li{
							flex-basis:100%;
						}
					}
				}
				ol{
					list-style-type:none;
					padding-left:0;
				}

			}
			&.button{
				a.btn2{
					margin-bottom:1.5rem;
				}
			}

			&.no-numerals{
				&.above,
				&.left{
					li{
						.marker{
							display:none;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width:992px){
		&{
			&.switchColumnDesktop{
				.heading{
					order:2;
					width:33.33333333%;
				}
				.bulk{
					order:1;
					width:66.66666667%;
				}
			}
			.heading{
				padding-right:10%;
				box-sizing:border-box;
				h2{
					font-size:34px;
				}
				H3{
					font-size:42px;
				}
			}
			.bulk{
				.sub{
					&.text{
						h4{}
						p{}
					}
					&.button{
						a.btn2{
							margin-bottom:0.5rem;
							margin-right:0.5rem;
						}
					}
					&.ordered_list{
						li{
							.marker{
								font-family: 'Chronicle Display Semibold';
								font-size:20px;
								min-width:3rem;
								color:$grey2;
								font-style:italic;
							}

						}
						&.left{
							li{
								display:flex;
								.li{
									flex-basis:100%;
								}
							}
						}
						&.above{
							li{
								display:block;
								.marker{
									display:block;
									margin-bottom:1rem;
								}
								.li{
									flex-basis:100%;
								}
							}
						}
					}
				}
			}

		}
	}
}